Repository kallebelins/mvp24hours-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: area: core, area: application, area: infrastructure, area: efcore, area: mongodb, area: cache, area: rabbitmq, area: pipeline, area: cronjob, area: webapi, area: tests, area: documentation, area: ci-cd, dependencies

Implement Keycloak integration package and enhance CI workflows
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/keycloak-ci.yml
  CHANGELOG.md
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Mvp24Hours.Infrastructure.Identity.Keycloak.csproj
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Fixtures/KeycloakFixture.cs
Labels: area: infrastructure, area: tests, area: documentation, area: ci-cd, dependencies

Remove Keycloak integration files and related components
  src-poc/Identity/Mvp24Hours.Identity.Keycloak/Application/Logic/KeycloakService.cs
  src-poc/Identity/Mvp24Hours.Identity.Keycloak/Core/Contract/Logic/IUserKeycloakService.cs
  src-poc/Identity/Mvp24Hours.Identity.Keycloak/Core/ValueObjects/Authentication/KeycloakRolesClaimsTransformation.cs
  src-poc/Identity/Mvp24Hours.Identity.Keycloak/Core/ValueObjects/Authorization/Decision/DecisionRequirement.cs
  src-poc/Identity/Mvp24Hours.Identity.Keycloak/Core/ValueObjects/Authorization/Decision/DecisionRequirementHandler.cs
  src-poc/Identity/Mvp24Hours.Identity.Keycloak/Core/ValueObjects/Authorization/RPT/RptRequirement.cs
  src-poc/Identity/Mvp24Hours.Identity.Keycloak/Core/ValueObjects/Authorization/RPT/RptRequirementHandler.cs
  src-poc/Identity/Mvp24Hours.Identity.Keycloak/Core/ValueObjects/Authorization/Resource.cs
  src-poc/Identity/Mvp24Hours.Identity.Keycloak/Core/ValueObjects/Authorization/UserToken.cs
  src-poc/Identity/Mvp24Hours.Identity.Keycloak/Infrastructure/Clients/TokenClient.cs
  src-poc/Identity/Mvp24Hours.Identity.Keycloak/Infrastructure/Extensions/HttpClientExtensions.cs
  src-poc/Identity/Mvp24Hours.Identity.Keycloak/Mvp24Hours.Identity.Keycloak.csproj
  src-poc/Identity/Mvp24Hours.Identity.Keycloak/WebAPI/Extensions/KeycloakExtensions.cs
Labels: dependencies

Refactor database migration and seeding logic in CustomerAPI Program.cs
  samples/src/complex-clean-architecture-customer-api/CustomerAPI.WebAPI/Program.cs
Labels: none

Refactor CustomerAPI application files for improved readability and structure
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Application/Extensions/DapperExtensions.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Application/FacadeService.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Application/Logic/ContactService.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Application/Logic/CustomerService.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/Contract/Logic/IContactService.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/Contract/Logic/ICustomerService.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/Entities/Contact.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/Entities/Customer.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/Enums/ContactType.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/Specifications/Customers/CustomerHasCellContactSpec.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/Specifications/Customers/CustomerHasEmailContactSpec.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/Specifications/Customers/CustomerHasNoContactSpec.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/Specifications/Customers/CustomerIsPropectSpec.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/Validations/Customers/ContactValidator.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/Validations/Customers/CustomerValidator.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/ValueObjects/Contacts/ContactCreate.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/ValueObjects/Contacts/ContactIdResult.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/ValueObjects/Contacts/ContactResult.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/ValueObjects/Contacts/ContactUpdate.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/ValueObjects/Customers/CustomerCreate.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/ValueObjects/Customers/CustomerIdResult.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/ValueObjects/Customers/CustomerQuery.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/ValueObjects/Customers/CustomerResult.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Core/ValueObjects/Customers/CustomerUpdate.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Infrastructure/Configurations/ContactConfiguration.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Infrastructure/Configurations/CustomerConfiguration.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Infrastructure/Data/EFDBContext.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Infrastructure/Data/EFDBContextSeed.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.Infrastructure/Migrations/20240121022808_InitialCreate.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.WebAPI/Controllers/ContactController.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.WebAPI/Controllers/CustomerController.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.WebAPI/CustomerAPI.WebAPI.csproj
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.WebAPI/Extensions/ServiceBuilderExtensions.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.WebAPI/Program.cs
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.WebAPI/appsettings.Development.json
Labels: dependencies

Enhance documentation and samples for .NET 10 migration
  CHANGELOG.md
  README.md
  docs/en-us/broker.md
  docs/en-us/cqrs/getting-started.md
  docs/en-us/cronjob.md
  docs/en-us/getting-started.md
  docs/en-us/guides/architecture/blueprints/template-clean-architecture.md
  docs/en-us/guides/architecture/blueprints/template-cqrs.md
  docs/en-us/guides/architecture/blueprints/template-ddd.md
  docs/en-us/guides/architecture/blueprints/template-event-driven.md
  docs/en-us/guides/architecture/blueprints/template-hexagonal.md
  docs/en-us/guides/architecture/blueprints/template-microservices.md
  docs/en-us/guides/architecture/decision-matrix.md
  docs/en-us/home.md
  docs/en-us/identity/keycloak.md
  docs/en-us/infrastructure/health-checks.md
  docs/en-us/observability/home.md
  docs/en-us/pipeline.md
  samples/README.md
  samples/src/complex-clean-architecture-customer-api/README.md
  samples/src/complex-cqrs-ef-customer-api/CustomerAPI.WebAPI/README.md
  samples/src/complex-crud-ef-customer-api/CustomerAPI.WebAPI/README.md
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.WebAPI/README.md
  samples/src/complex-crud-ef-entitylog-customer-api/CustomerAPI.WebAPI/README.md
  samples/src/complex-crud-ef-only-entity-customer-api/CustomerAPI.WebAPI/README.md
  samples/src/complex-ddd-ef-customer-api/README.md
  samples/src/complex-event-driven-rabbitmq-customer-api/README.md
  samples/src/complex-event-sourcing-customer-api/README.md
  samples/src/complex-hexagonal-customer-api/README.md
  samples/src/complex-keycloak-customer-api/CustomerAPI.WebAPI/README.md
  samples/src/complex-pipeline-ef-customer-api/CustomerAPI.WebAPI/README.md
  samples/src/complex-saga-rabbitmq-customer-api/README.md
  samples/src/microservices-aspire-customer/README.md
  samples/src/simple-crud-ef-customer-api/CustomerAPI.WebAPI/README.md
  samples/src/simple-crud-ef-dapper-customer-api/CustomerAPI.WebAPI/README.md
  samples/src/simple-crud-ef-entitylog-customer-api/CustomerAPI.WebAPI/README.md
  samples/src/simple-rabbitmq-customer-api/CustomerAPI.WebAPI/README.md
  samples/src/simple-webstatus/WebStatus/README.md
Labels: area: documentation

Enhance documentation and sample build instructions for .NET 10 migration
  .github/workflows/samples-ci.yml
  CHANGELOG.md
  docs/en-us/getting-started.md
  docs/en-us/migration.md
  samples/Mvp24Hours.Samples.sln
  samples/README.md
  samples/src/complex-clean-architecture-customer-api/CustomerAPI.Test/Unit/CustomerSpecificationTests.cs
  samples/src/complex-hexagonal-customer-api/CustomerAPI.Test/Unit/CustomerHasEmailContactSpecTests.cs
Labels: area: tests, area: documentation, area: ci-cd

Update solution file references to .slnx format across CI workflows and documentation
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/samples-ci.yml
  .vscode/settings.json
  docs/en-us/getting-started.md
  docs/en-us/migration.md
  samples/Mvp24Hours.Samples.sln
  samples/Mvp24Hours.Samples.slnx
  samples/README.md
  samples/TESTING.md
  samples/scripts/add-remaining-smoke-tests.ps1
  samples/src/complex-clean-architecture-customer-api/README.md
  samples/src/complex-crud-ef-customer-api/CustomerAPI.WebAPI/CustomerAPI.WebAPI.xml
  samples/src/complex-crud-ef-dapper-customer-api/CustomerAPI.WebAPI/CustomerAPI.WebAPI.xml
  samples/src/complex-crud-ef-entitylog-customer-api/CustomerAPI.WebAPI/CustomerAPI.WebAPI.xml
  samples/src/complex-crud-ef-only-entity-customer-api/CustomerAPI.WebAPI/CustomerAPI.WebAPI.xml
  samples/src/complex-hexagonal-customer-api/README.md
  samples/src/complex-pipeline-builder-customer-api/CustomerAPI.WebAPI/CustomerAPI.WebAPI.xml
  samples/src/complex-pipeline-customer-api/CustomerAPI.WebAPI/CustomerAPI.WebAPI.xml
  samples/src/complex-pipeline-ef-customer-api/CustomerAPI.WebAPI/CustomerAPI.WebAPI.xml
  samples/src/complex-pipeline-ports-adapters-customer-api/CustomerAPI.WebAPI/CustomerAPI.WebAPI.xml
  samples/src/microservices-aspire-customer/README.md
  samples/src/simple-crud-ef-customer-api/CustomerAPI.WebAPI/CustomerAPI.WebAPI.xml
  samples/src/simple-crud-ef-dapper-customer-api/CustomerAPI.WebAPI/CustomerAPI.WebAPI.xml
  samples/src/simple-crud-ef-entitylog-customer-api/CustomerAPI.WebAPI/CustomerAPI.WebAPI.xml
  samples/src/simple-crud-mongodb-customer-api/CustomerAPI.WebAPI/CustomerAPI.WebAPI.xml
  samples/src/simple-crud-redis-customer-api/CustomerAPI.WebAPI/CustomerAPI.WebAPI.xml
  samples/src/simple-pipeline-customer-api/CustomerAPI.WebAPI/CustomerAPI.WebAPI.xml
  samples/src/simple-rabbitmq-customer-api/CustomerAPI.WebAPI/CustomerAPI.WebAPI.xml
  scripts/generate-coverage-final-json.ps1
  src/.vscode/settings.json
  src/Mvp24Hours.sln
  src/Mvp24Hours.slnx
  src/Mvp24HoursWithPOCs.sln
Labels: area: documentation, area: ci-cd

Add warmup functionality and improve service initialization in MCP
  mcp/src/Mvp24Hours.Mcp/DevKitIndexWarmupService.cs
  mcp/src/Mvp24Hours.Mcp/Indexing/ComplianceService.cs
  mcp/src/Mvp24Hours.Mcp/Indexing/DocIndexService.cs
  mcp/src/Mvp24Hours.Mcp/Indexing/ManifestService.cs
  mcp/src/Mvp24Hours.Mcp/Indexing/SourceIndexService.cs
  mcp/src/Mvp24Hours.Mcp/Program.cs
  mcp/src/Mvp24Hours.Mcp/Resources/DocResources.cs
  mcp/tests/Mvp24Hours.Mcp.Tests/Indexing/PerformanceGuardrailTests.cs
Labels: none

Enhance MCP functionality with new manifests and service integrations
  docs/en-us/ai-resources/capabilities-manifest.json
  docs/en-us/ai-resources/discovery-playbook.md
  docs/en-us/ai-resources/home.md
  docs/en-us/ai-resources/migration-playbooks.json
  docs/en-us/ai-resources/scenarios-manifest.json
  mcp/README.md
  mcp/src/Mvp24Hours.Mcp/Configuration/RepoRootResolver.cs
  mcp/src/Mvp24Hours.Mcp/DevKitIndexWarmupService.cs
  mcp/src/Mvp24Hours.Mcp/Indexing/CapabilitiesManifestService.cs
  mcp/src/Mvp24Hours.Mcp/Indexing/ComplianceService.cs
  mcp/src/Mvp24Hours.Mcp/Indexing/MigrationPlaybookService.cs
  mcp/src/Mvp24Hours.Mcp/Indexing/SamplePatternIndexService.cs
  mcp/src/Mvp24Hours.Mcp/Indexing/ScenariosManifestService.cs
  mcp/src/Mvp24Hours.Mcp/Models/ManifestModels.cs
  mcp/src/Mvp24Hours.Mcp/Program.cs
  mcp/src/Mvp24Hours.Mcp/Prompts/DevKitPrompts.cs
  mcp/src/Mvp24Hours.Mcp/Resources/DocResources.cs
  mcp/src/Mvp24Hours.Mcp/ServiceCollectionExtensions.cs
  mcp/src/Mvp24Hours.Mcp/Tools/ScenarioTools.cs
  mcp/src/Mvp24Hours.Mcp/Tools/ValidationTools.cs
  mcp/tests/Mvp24Hours.Mcp.Tests/Indexing/CapabilitiesManifestServiceTests.cs
  mcp/tests/Mvp24Hours.Mcp.Tests/Indexing/MigrationPlaybookServiceTests.cs
  mcp/tests/Mvp24Hours.Mcp.Tests/Indexing/PerformanceGuardrailTests.cs
  mcp/tests/Mvp24Hours.Mcp.Tests/Indexing/SamplePatternIndexTests.cs
  mcp/tests/Mvp24Hours.Mcp.Tests/Indexing/ScenariosManifestServiceTests.cs
  mcp/tests/Mvp24Hours.Mcp.Tests/Integration/McpServerTests.cs
  mcp/tests/Mvp24Hours.Mcp.Tests/Tools/ScenarioToolsTests.cs
Labels: area: documentation

Update README.md to include agent entry point instructions for MCP
  .cursor/skills/mvp24hours-router/SKILL.md
  .cursor/skills/mvp24hours-router/routing-matrix.md
  mcp/README.md
Labels: area: documentation

Update documentation for MVP24Hours router and VS Code setup
  .github/skills/mvp24hours-router/SKILL.md
  .github/skills/mvp24hours-router/routing-matrix.md
  .vscode/mcp.json
  devkit/cursor/.cursor/mcp.json
  devkit/cursor/.cursor/skills/mvp24hours-router/SKILL.md
  devkit/cursor/.cursor/skills/mvp24hours-router/routing-matrix.md
  devkit/cursor/README.md
  devkit/cursor/templates/mcp.external.json
  devkit/cursor/templates/mcp.http.json
  devkit/vscode/.github/skills/mvp24hours-router/SKILL.md
  devkit/vscode/.github/skills/mvp24hours-router/routing-matrix.md
  devkit/vscode/.vscode/mcp.json
  devkit/vscode/README.md
  devkit/vscode/templates/mcp.external.json
  devkit/vscode/templates/mcp.http.json
  docs/en-us/ai-resources/home.md
  mcp/README.md
Labels: area: documentation, area: ci-cd

Update documentation for Mvp24Hours project to enhance clarity and accessibility
  .cursor/skills/mvp24hours-router/SKILL.md
  .cursor/skills/mvp24hours-router/routing-matrix.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/skills/mvp24hours-router/SKILL.md
  .github/skills/mvp24hours-router/routing-matrix.md
  .github/workflows/stale.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  devkit/cursor/.cursor/skills/mvp24hours-router/SKILL.md
  devkit/cursor/.cursor/skills/mvp24hours-router/routing-matrix.md
  devkit/cursor/README.md
  devkit/vscode/.github/skills/mvp24hours-router/SKILL.md
  devkit/vscode/.github/skills/mvp24hours-router/routing-matrix.md
  devkit/vscode/README.md
Labels: area: documentation, area: ci-cd

Remove deprecated Mvp24Hours router files and configuration
  .cursor/mcp.json
  .cursor/skills/mvp24hours-router/SKILL.md
  .cursor/skills/mvp24hours-router/routing-matrix.md
  .github/skills/mvp24hours-router/SKILL.md
  .github/skills/mvp24hours-router/routing-matrix.md
  .vscode/mcp.json
  scripts/Install-Mvp24HoursCursorDevKit.ps1
  scripts/Install-Mvp24HoursVsCodeDevKit.ps1
  scripts/Mvp24HoursDevKit.Common.ps1
  scripts/README-devkit.md
  scripts/Uninstall-Mvp24HoursCursorDevKit.ps1
  scripts/Uninstall-Mvp24HoursVsCodeDevKit.ps1
Labels: area: documentation, area: ci-cd

fix(samples): testing config, Keycloak fixture, and Samples CI cleanup
  .github/workflows/samples-ci.yml
  samples/src/complex-keycloak-customer-api/CustomerAPI.Test/Support/KeycloakContainerFixture.cs
  samples/src/complex-pipeline-ef-customer-api/CustomerAPI.WebAPI/appsettings.Testing.json
Labels: area: tests, area: ci-cd

fix(ci): broaden container startup failure handling
  samples/src/complex-pipeline-ef-customer-api/CustomerAPI.Test/Integration/CustomerApiFactory.cs
  src/Tests/Mvp24Hours.Application.Integration.Test/Fixtures/SqlServerContainerFixture.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Test1RabbitMQ.cs
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Fixtures/KeycloakFixture.cs
Labels: area: tests

Update icon links in documentation to use absolute URLs
  docs/en-us/home.md
  docs/index.html
Labels: area: documentation

Update documentation links to use absolute URLs for sample references
  docs/en-us/ai-resources/layers/layer-application.md
  docs/en-us/ai-resources/layers/layer-core.md
  docs/en-us/ai-resources/layers/layer-domain.md
  docs/en-us/ai-resources/layers/layer-infrastructure.md
  docs/en-us/ai-resources/layers/layer-tests.md
  docs/en-us/ai-resources/layers/layer-webapi.md
  docs/en-us/broker.md
  docs/en-us/cqrs/getting-started.md
  docs/en-us/cronjob.md
  docs/en-us/getting-started.md
  docs/en-us/guides/architecture/blueprints/template-clean-architecture.md
  docs/en-us/guides/architecture/blueprints/template-cqrs.md
  docs/en-us/guides/architecture/blueprints/template-ddd.md
  docs/en-us/guides/architecture/blueprints/template-event-driven.md
  docs/en-us/guides/architecture/blueprints/template-hexagonal.md
  docs/en-us/guides/architecture/blueprints/template-microservices.md
  docs/en-us/guides/architecture/decision-matrix.md
  docs/en-us/home.md
  docs/en-us/identity/keycloak.md
  docs/en-us/infrastructure/health-checks.md
  docs/en-us/observability/home.md
  docs/en-us/pipeline.md
Labels: area: documentation

Add function to retrieve latest coverage reports in CI script
  scripts/run-ci-local.ps1
Labels: none

Update .gitignore to include additional coverage and test result artifacts
  .gitignore
Labels: none

feat: Add automated rename script for template customization
  scripts/Replace-TextEverywhere.ps1
  templates/README.md
Labels: area: documentation

feat: Add docker-compose project files to various templates
  templates/blueprints/clean-architecture/CleanArchitecture.slnx
  templates/blueprints/clean-architecture/docker-compose.dcproj
  templates/blueprints/complex-nlayers/ComplexNLayers.slnx
  templates/blueprints/complex-nlayers/docker-compose.dcproj
  templates/blueprints/cqrs/Cqrs.slnx
  templates/blueprints/cqrs/docker-compose.dcproj
  templates/blueprints/ddd/Ddd.slnx
  templates/blueprints/ddd/docker-compose.dcproj
  templates/blueprints/event-driven/EventDriven.slnx
  templates/blueprints/event-driven/docker-compose.dcproj
  templates/blueprints/hexagonal/Hexagonal.slnx
  templates/blueprints/hexagonal/docker-compose.dcproj
  templates/hosts/bff-complex-nlayers/BffComplexNLayers.slnx
  templates/hosts/bff-complex-nlayers/docker-compose.dcproj
  templates/hosts/function-complex/FunctionComplex.slnx
  templates/hosts/function-complex/docker-compose.dcproj
  templates/hosts/function-minimal/FunctionMinimal.slnx
  templates/hosts/function-minimal/docker-compose.dcproj
  templates/hosts/function-simple/FunctionSimple.slnx
  templates/hosts/function-simple/docker-compose.dcproj
  templates/hosts/worker-complex/WorkerComplex.slnx
  templates/hosts/worker-complex/docker-compose.dcproj
  templates/hosts/worker-minimal/WorkerMinimal.slnx
  templates/hosts/worker-minimal/docker-compose.dcproj
  templates/hosts/worker-simple/WorkerSimple.slnx
  templates/hosts/worker-simple/docker-compose.dcproj
Labels: none

fix: Update XML documentation for method signatures and improve references in various files
  src/Mvp24Hours.Application/Extensions/ConventionBasedServiceCollectionExtensions.cs
  src/Mvp24Hours.Application/Logic/RepositoryService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Core/Contract/Data/IBulkOperationsMongoDbAsync.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Extensions/MongoDbBulkOperationsExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Security/FieldEncryption.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Testing/MongoDbTestcontainersHelper.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/UnitOfWork.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Configuration/Fluent/RabbitMQConfigurationBuilder.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Transactional/Contract/ITransactionalBus.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Transactional/ITransactionalConsumeContext.cs
  src/Mvp24Hours.WebAPI/Endpoints/Filters/NativeEndpointFilters.cs
  src/Mvp24Hours.WebAPI/Endpoints/TypedResultsExtensions.cs
  src/Mvp24Hours.WebAPI/Extensions/ApplicationBuilderExtensions.cs
  src/Mvp24Hours.WebAPI/Extensions/NativeOpenApiApplicationBuilderExtensions.cs
  src/Mvp24Hours.WebAPI/Extensions/NativeProblemDetailsExtensions.cs
  src/Mvp24Hours.WebAPI/Extensions/ServiceCollectionExtentions.cs
  templates/blueprints/complex-nlayers/ComplexNLayers.slnx
Labels: area: application, area: infrastructure, area: mongodb, area: rabbitmq, area: webapi

feat: Add routing logic to redirect non-localized URLs to English version
  docs/index.html
Labels: area: documentation

Update project references and package versions to 10.0.0 across all templates
  templates/Directory.Build.props
  templates/Directory.Packages.props
  templates/README.md
  templates/blueprints/clean-architecture/App.Application/App.Application.csproj
  templates/blueprints/clean-architecture/App.Domain/App.Domain.csproj
  templates/blueprints/clean-architecture/App.Infrastructure/App.Infrastructure.csproj
  templates/blueprints/clean-architecture/App.WebAPI/App.WebAPI.csproj
  templates/blueprints/complex-nlayers/App.Application/App.Application.csproj
  templates/blueprints/complex-nlayers/App.Core/App.Core.csproj
  templates/blueprints/complex-nlayers/App.Infrastructure/App.Infrastructure.csproj
  templates/blueprints/complex-nlayers/App.WebAPI/App.WebAPI.csproj
  templates/blueprints/cqrs/App.Application/App.Application.csproj
  templates/blueprints/cqrs/App.Core/App.Core.csproj
  templates/blueprints/cqrs/App.Infrastructure/App.Infrastructure.csproj
  templates/blueprints/cqrs/App.WebAPI/App.WebAPI.csproj
  templates/blueprints/ddd/App.Application/App.Application.csproj
  templates/blueprints/ddd/App.Core/App.Core.csproj
  templates/blueprints/ddd/App.Infrastructure/App.Infrastructure.csproj
  templates/blueprints/ddd/App.WebAPI/App.WebAPI.csproj
  templates/blueprints/event-driven/App.Application/App.Application.csproj
  templates/blueprints/event-driven/App.Domain/App.Domain.csproj
  templates/blueprints/event-driven/App.Infrastructure/App.Infrastructure.csproj
  templates/blueprints/event-driven/App.WebAPI/App.WebAPI.csproj
  templates/blueprints/hexagonal/App.Application/App.Application.csproj
  templates/blueprints/hexagonal/App.Core/App.Core.csproj
  templates/blueprints/hexagonal/App.Infrastructure/App.Infrastructure.csproj
  templates/blueprints/hexagonal/App.WebAPI/App.WebAPI.csproj
  templates/hosts/bff-complex-nlayers/App.Application/App.Application.csproj
  templates/hosts/bff-complex-nlayers/App.BFF/App.BFF.csproj
  templates/hosts/bff-complex-nlayers/App.Core/App.Core.csproj
  templates/hosts/bff-complex-nlayers/App.Infrastructure/App.Infrastructure.csproj
  templates/hosts/function-complex/App.Core/App.Core.csproj
  templates/hosts/function-simple/App.Core/App.Core.csproj
  templates/hosts/worker-complex/App.Core/App.Core.csproj
  templates/hosts/worker-complex/App.Worker/App.Worker.csproj
  templates/hosts/worker-minimal/App.Worker/App.Worker.csproj
  templates/hosts/worker-simple/App.Core/App.Core.csproj
  templates/hosts/worker-simple/App.Worker/App.Worker.csproj
Labels: area: documentation, dependencies

feat: Enhance verify_doc_claim to handle missing API name and add corresponding tests
  mcp/src/Mvp24Hours.Mcp/Prompts/DevKitPrompts.cs
  mcp/src/Mvp24Hours.Mcp/Tools/ValidationTools.cs
  mcp/tests/Mvp24Hours.Mcp.Tests/Tools/ToolSmokeTests.cs
Labels: none

Refactor RequestBodyTracingMiddleware to improve performance and enhance redaction logic
  mcp/.github/copilot-instructions.md
  skills/COMPLETION_STATUS.md
  skills/PROJECT_SUMMARY.md
  skills/README.md
  skills/SKILLS_GENERATION_GUIDE.md
  skills/SKILL_TEMPLATE.md
  skills/architecture/clean-architecture-specialist.md
  skills/architecture/ddd-specialist.md
  skills/architecture/event-driven-specialist.md
  skills/architecture/hexagonal-specialist.md
  skills/architecture/microservices-specialist.md
  skills/architecture/solution-architect.md
  skills/caching/caching-architect.md
  skills/cqrs/cqrs-architect.md
  skills/cqrs/event-sourcing-specialist.md
  skills/cqrs/mediator-patterns-specialist.md
  skills/create-remaining-skills.ps1
  skills/cronjob/cronjob-architect.md
  skills/data/data-architect.md
  skills/data/efcore-specialist.md
  skills/data/mongodb-specialist.md
  skills/data/redis-specialist.md
  skills/identity/identity-architect.md
  skills/infrastructure/infrastructure-architect.md
  skills/messaging/messaging-architect.md
  skills/messaging/rabbitmq-advanced-specialist.md
  skills/messaging/saga-orchestration-specialist.md
  skills/modernization/dotnet-modernization-specialist.md
  skills/observability/observability-architect.md
  skills/observability/resilience-patterns-specialist.md
  skills/pipeline/pipeline-architect.md
  skills/testing/testing-architect.md
  skills/webapi/webapi-architect.md
Labels: area: documentation

Update Mvp24Hours skills catalog to reflect completion of 30 skills and introduce new modernization roles
  skills/COMPLETION_STATUS.md
  skills/PROJECT_SUMMARY.md
  skills/README.md
  skills/SKILLS_GENERATION_GUIDE.md
  skills/SKILL_TEMPLATE.md
  skills/modernization/architecture-analyst.md
  skills/modernization/architecture-proposal-architect.md
  skills/modernization/architecture-rewrite-architect.md
  skills/modernization/dotnet-modernization-specialist.md
  skills/modernization/port-transpilation-specialist.md
Labels: area: documentation

Remove obsolete skill documentation and script files from Mvp24Hours project
  skills/COMPLETION_STATUS.md
  skills/PROJECT_SUMMARY.md
  skills/create-remaining-skills.ps1
Labels: area: documentation

Update Mvp24Hours documentation and scripts to streamline server setup and build process
  docs/en-us/ai-resources/home.md
  mcp/README.md
  mcp/templates/cursor/mcp.external.json
  mcp/templates/vscode/mcp.external.json
  scripts/Install-Mvp24HoursCursorDevKit.ps1
  scripts/Install-Mvp24HoursVsCodeDevKit.ps1
  scripts/Mvp24HoursDevKit.Common.ps1
  scripts/README-devkit.md
  skills/README.md
Labels: area: documentation

feat(devkit): Add Kiro support to Mvp24Hours DevKit installation scripts
  scripts/Install-Mvp24HoursKiroDevKit.ps1
  scripts/Mvp24HoursDevKit.Common.ps1
  scripts/Uninstall-Mvp24HoursKiroDevKit.ps1
Labels: none

refactor(application): Decouple bulk operations from DbContext dependency
  src/Mvp24Hours.Application/Logic/Async/BulkCommandServiceBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Async/BulkCommandServiceWithDtoBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Async/BulkCommandServiceWithSeparateDtosBaseAsync.cs
  src/Mvp24Hours.Application/Mvp24Hours.Application.csproj
  src/Tests/Mvp24Hours.Application.Test/Architecture/LayerDependencyTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Async/BulkCommandServiceWithDtoBaseAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Async/BulkCommandServiceWithSeparateDtosBaseAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Test/Support/ApplicationTestHelpers.cs
Labels: area: application, area: tests, dependencies

refactor(infrastructure): Reorganize EF Core caching interceptor and remove unnecessary dependencies
  src/Mvp24Hours.Core/Observability/OpenTelemetryExporterExtensions.cs
  src/Mvp24Hours.Infrastructure.Caching/Mvp24Hours.Infrastructure.Caching.csproj
  src/Mvp24Hours.Infrastructure.Data.EFCore/Interceptors/EfCoreCacheInterceptor.cs
  src/Mvp24Hours.Infrastructure/Extensions/HttpClientExtensions.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Interceptors/EfCoreCacheInterceptorTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Support/TestDbCommand.cs
Labels: area: core, area: infrastructure, area: efcore, area: cache, area: tests, dependencies

refactor: Fix typo in ServiceCollectionExtensions class name and remove unused imports
  CHANGELOG.md
  src/Mvp24Hours.Core/Extensions/ServiceCollectionExtensions.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Extensions/ServiceCollectionExtensions.cs
  src/Mvp24Hours.WebAPI/Extensions/ApplicationBuilderExtensions.cs
  src/Mvp24Hours.WebAPI/Extensions/NativeProblemDetailsExtensions.cs
  src/Mvp24Hours.WebAPI/Extensions/ServiceCollectionExtensions.cs
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Unit/KeycloakHttpClientsTests.cs
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Unit/TokenClientUnitTests.cs
Labels: area: core, area: infrastructure, area: webapi, area: tests, area: documentation

chore: Remove unused WCF and cryptography packages
  src/Directory.Packages.props
  src/Mvp24Hours.Infrastructure/Mvp24Hours.Infrastructure.csproj
Labels: area: infrastructure, dependencies

perf(cqrs): Cache request and notification handler wrappers for reuse
  src/Mvp24Hours.Infrastructure.Cqrs/Implementations/Mediator.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/MediatorTest.cs
Labels: area: infrastructure, area: tests

refactor(data): Replace dynamic binding with typed reflection in entity audit logging
  src/Mvp24Hours.Infrastructure.Data.EFCore/Async/RepositoryAsync.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Internal/EntityLogAccessor.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Mvp24HoursContext.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Repository.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/RepositoryAsyncTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/RepositoryBranchTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Support/TestEntities.cs
Labels: area: infrastructure, area: efcore, area: tests

perf(mongodb): Optimize bulk insert operations with batch processing
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Async/RepositoryAsync.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Repository.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Async/RepositoryAsyncIntegrationTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/RepositoryIntegrationTest.cs
Labels: area: infrastructure, area: mongodb, area: tests

fix(mongodb): Fix soft delete type check and preserve audit fields via reflection
  CHANGELOG.md
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Async/RepositoryAsync.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Async/RepositoryAsyncWithInterceptors.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Internal/EntityLogAccessor.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Mvp24HoursContext.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Repository.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Async/RepositoryAsyncIntegrationTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Mvp24HoursContextDisposeTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/RepositoryIntegrationTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Support/MongoDbTestEntities.cs
Labels: area: infrastructure, area: mongodb, area: tests, area: documentation

fix(pipeline): Execute event handlers synchronously in pipeline flow
  CHANGELOG.md
  src/Mvp24Hours.Infrastructure.Pipe/Pipeline.cs
  src/Mvp24Hours.Infrastructure.Pipe/PipelineAsync.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/PipelineAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/PipelineTest.cs
Labels: area: infrastructure, area: pipeline, area: tests, area: documentation

feat(application): Implement cached reflection-based PATCH property mapping
  docs/en-us/application-services.md
  src/Mvp24Hours.Application/Logic/ApplicationServiceBaseWithSeparateDtos.cs
  src/Mvp24Hours.Application/Logic/Async/ApplicationServiceBaseWithSeparateDtosAsync.cs
  src/Mvp24Hours.Application/Logic/Internal/PatchPropertyMap.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/ApplyPatchToEntityTest.cs
  src/Tests/Mvp24Hours.Application.Test/Support/PatchTestSupport.cs
Labels: area: application, area: tests, area: documentation

.github/labeler.yml:

# Labeler configuration for automatic PR labeling

# Core
'area: core':
  - 'src/Mvp24Hours.Core/**/*'

# Application
'area: application':
  - 'src/Mvp24Hours.Application/**/*'

# Infrastructure
'area: infrastructure':
  - 'src/Mvp24Hours.Infrastructure/**/*'
  - 'src/Mvp24Hours.Infrastructure.*/**/*'

# Data - EF Core
'area: efcore':
  - 'src/Mvp24Hours.Infrastructure.Data.EFCore/**/*'

# Data - MongoDB
'area: mongodb':
  - 'src/Mvp24Hours.Infrastructure.Data.MongoDb/**/*'

# Caching
'area: cache':
  - 'src/Mvp24Hours.Infrastructure.Caching/**/*'
  - 'src/Mvp24Hours.Infrastructure.Caching.Redis/**/*'

# RabbitMQ
'area: rabbitmq':
  - 'src/Mvp24Hours.Infrastructure.RabbitMQ/**/*'

# Pipeline
'area: pipeline':
  - 'src/Mvp24Hours.Infrastructure.Pipe/**/*'

# CronJob
'area: cronjob':
  - 'src/Mvp24Hours.Infrastructure.CronJob/**/*'

# WebAPI
'area: webapi':
  - 'src/Mvp24Hours.WebAPI/**/*'

# Tests
'area: tests':
  - 'src/Tests/**/*'
  - '**/*.Test/**/*'

# Documentation
'area: documentation':
  - 'docs/**/*'
  - '**/*.md'
  - 'README.md'
  - 'CHANGELOG.md'
  - 'CONTRIBUTING.md'

# CI/CD
'area: ci-cd':
  - '.github/**/*'
  - '*.yml'
  - '*.yaml'

# Dependencies
'dependencies':
  - '**/packages.lock.json'
  - '**/*.csproj'
  - 'src/**/*.csproj'
