Repository kallebelins/mvp24hours-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: area: core, area: application, area: infrastructure, area: efcore, area: mongodb, area: cache, area: rabbitmq, area: pipeline, area: cronjob, area: webapi, area: tests, area: documentation, area: ci-cd, dependencies

docs(database): Document page size configuration for EF Core and MongoDB
  docs/en-us/database/efcore-advanced.md
  docs/en-us/database/mongodb-advanced.md
Labels: area: documentation

docs: Fix typo in ConstantsHelper and update default page size references
  CHANGELOG.md
  docs/en-us/database/efcore-advanced.md
  docs/en-us/database/mongodb-advanced.md
  samples/src/minimal-crud-ef-customer-api/CustomerAPI/Program.cs
  samples/src/minimal-crud-mongodb-customer-api/CustomerAPI/Program.cs
  src/Mvp24Hours.Core/Extensions/Logic/BusinessPagingAsyncExtensions.cs
  src/Mvp24Hours.Core/Extensions/Logic/BusinessPagingExtensions.cs
  src/Mvp24Hours.Core/Helpers/ConstantsHelper.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Configuration/EFCoreRepositoryOptions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Configuration/MongoDbRepositoryOptions.cs
  src/Tests/Mvp24Hours.Core.Test/Helpers/HelpersAdvancedTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Configuration/EFCoreRepositoryOptionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/RepositoryBaseTest.cs
Labels: area: core, area: infrastructure, area: efcore, area: mongodb, area: tests, area: documentation

docs(pipeline): Deprecate DynamicContents in favor of typed accessors
  CHANGELOG.md
  docs/en-us/pipeline.md
  src/Mvp24Hours.Core/Contract/Infrastructure/Pipe/IPipelineMessage.cs
  src/Mvp24Hours.Infrastructure.Pipe/PipelineMessage.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Integration/Caching/CacheResultsMiddlewareTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/PipelineMessageTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/PipelineTest.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/BusinessAsyncExtensionsTest.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/CoreExtensionsRemainingCoverageTest.cs
Labels: area: core, area: infrastructure, area: pipeline, area: tests, area: documentation

docs(webapi): Deprecate custom error-handling middlewares in favor of native path
  CHANGELOG.md
  docs/en-us/modernization/output-caching.md
  docs/en-us/modernization/problem-details.md
  docs/en-us/webapi-advanced.md
  docs/en-us/webapi.md
  samples/src/simple-hybridcache-rate-limit-api/ProductAPI.WebAPI/Program.cs
  samples/src/simple-observability-customer-api/CustomerAPI.WebAPI/Program.cs
  src/Mvp24Hours.WebAPI/Extensions/ApplicationBuilderExtensions.cs
  src/Mvp24Hours.WebAPI/Extensions/ServiceCollectionExtensions.cs
  src/Mvp24Hours.WebAPI/Middlewares/ExceptionMiddleware.cs
  src/Mvp24Hours.WebAPI/Middlewares/ProblemDetailsMiddleware.cs
  src/Tests/Mvp24Hours.WebAPI.Test/ApplicationBuilderTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Extensions/ApplicationBuilderExtensionsTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Extensions/ExtensionsSmokeTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Extensions/ServiceCollectionExtensionsTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Middlewares/MiddlewaresTest.cs
Labels: area: webapi, area: tests, area: documentation

feat(application): Unify logging convention across all service bases
  CHANGELOG.md
  docs/en-us/application-services.md
  src/Mvp24Hours.Application/Logic/ApplicationServiceBase.cs
  src/Mvp24Hours.Application/Logic/ApplicationServiceBaseWithDto.cs
  src/Mvp24Hours.Application/Logic/ApplicationServiceBaseWithSeparateDtos.cs
  src/Mvp24Hours.Application/Logic/Async/ApplicationServiceBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Async/ApplicationServiceBaseWithDtoAsync.cs
  src/Mvp24Hours.Application/Logic/Async/ApplicationServiceBaseWithSeparateDtosAsync.cs
  src/Mvp24Hours.Application/Logic/Async/BulkCommandServiceBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Async/BulkCommandServiceWithDtoBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Async/BulkCommandServiceWithSeparateDtosBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Async/CommandServiceBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Async/QueryServiceBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Async/RepositoryPagingServiceAsync.cs
  src/Mvp24Hours.Application/Logic/Async/RepositoryServiceAsync.cs
  src/Mvp24Hours.Application/Logic/CommandServiceBase.cs
  src/Mvp24Hours.Application/Logic/QueryServiceBase.cs
  src/Mvp24Hours.Application/Logic/RepositoryPagingService.cs
  src/Mvp24Hours.Application/Logic/RepositoryService.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/ApplicationServiceLoggingTest.cs
Labels: area: application, area: tests, area: documentation

feat(repository): Add strongly-typed identifier contracts for entities
  CHANGELOG.md
  docs/en-us/database/use-repository.md
  src/Mvp24Hours.Core/Contract/Data/Async/IRepositoryAsync.cs
  src/Mvp24Hours.Core/Contract/Data/IRepository.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Async/RepositoryAsync.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Extensions/EFCoreServiceExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Repository.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Async/RepositoryAsync.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Extensions/MongoDbServiceExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Repository.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Extensions/EFCoreServiceExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/RepositoryTypedIdTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Support/TestEntities.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Extensions/MongoDbTypedIdRepositoryRegistrationTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/RepositoryTypedIdIntegrationTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Support/MongoDbTestEntities.cs
Labels: area: core, area: infrastructure, area: efcore, area: mongodb, area: tests, area: documentation

feat(efcore): Add soft-delete interceptor registration and deprecate ApplyLogRules
  CHANGELOG.md
  docs/en-us/database/efcore-advanced.md
  docs/en-us/migration.md
  src/Mvp24Hours.Infrastructure.Data.EFCore/Extensions/EFCoreInterceptorExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Mvp24HoursContext.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Extensions/EFCoreInterceptorExtensionsTest.cs
Labels: area: infrastructure, area: efcore, area: tests, area: documentation

feat(application): Extract service operations logic into reusable internal components
  src/Mvp24Hours.Application/Logic/ApplicationServiceBase.cs
  src/Mvp24Hours.Application/Logic/Async/ApplicationServiceBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Async/CommandServiceBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Async/QueryServiceBaseAsync.cs
  src/Mvp24Hours.Application/Logic/CommandServiceBase.cs
  src/Mvp24Hours.Application/Logic/Internal/ServiceOperations.cs
  src/Mvp24Hours.Application/Logic/Internal/ServiceOperationsAsync.cs
  src/Mvp24Hours.Application/Logic/QueryServiceBase.cs
Labels: area: application

feat(application): Remove generic TUoW type parameter from SeparateDtos bases
  CHANGELOG.md
  docs/en-us/application-services.md
  src/Mvp24Hours.Application/Logic/ApplicationServiceBaseWithSeparateDtos.cs
  src/Mvp24Hours.Application/Logic/Async/ApplicationServiceBaseWithSeparateDtosAsync.cs
  src/Mvp24Hours.Core/Contract/Logic/Async/IApplicationServiceWithDtoSeparateAsync.cs
  src/Mvp24Hours.Core/Contract/Logic/IApplicationServiceWithDtoSeparate.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/ApplicationServiceLoggingTest.cs
  src/Tests/Mvp24Hours.Application.Test/Support/ApplicationTestHelpers.cs
  src/Tests/Mvp24Hours.Application.Test/Support/PatchTestSupport.cs
Labels: area: core, area: application, area: tests, area: documentation

docs: Deprecate legacy static helpers and remove obsolete telemetry facade
  CHANGELOG.md
  docs/en-us/configuration-reference.md
  docs/en-us/cqrs/observability/telemetry.md
  docs/en-us/logging.md
  docs/en-us/migration.md
  docs/en-us/modernization/migration-guide.md
  docs/en-us/observability/home.md
  docs/en-us/observability/migration.md
  docs/en-us/telemetry.md
  samples/src/simple-crud-mongodb-customer-api/CustomerAPI.WebAPI/Controllers/CustomerController.cs
  src/Mvp24Hours.Core/Contract/Infrastructure/Telemetry/ITelemetryService.cs
  src/Mvp24Hours.Core/Enums/Infrastructure/TelemetryLevels.cs
  src/Mvp24Hours.Core/Extensions/TelemetryExtensions.cs
  src/Mvp24Hours.Core/Helpers/TelemetryHelper.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Async/RepositoryAsync.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Repository.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Async/RepositoryAsync.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Interceptors/AuditInterceptor.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Interceptors/SoftDeleteInterceptor.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Repository.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Observability/Extensions/ObservabilityServiceExtensions.cs
  src/Mvp24Hours.Infrastructure/Extensions/ServiceCollectionExtensions.cs
  src/Mvp24Hours.Infrastructure/Helpers/ConfigurationHelper.cs
  src/Mvp24Hours.Infrastructure/Helpers/TimeZoneHelper.cs
  src/Tests/Mvp24Hours.Application.MySql.Test/Setup/Startup.cs
  src/Tests/Mvp24Hours.Application.MySql.Test/Setup/StartupAsync.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Setup/Startup.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Setup/StartupAsync.cs
  src/Tests/Mvp24Hours.Application.PostgreSql.Test/Setup/Startup.cs
  src/Tests/Mvp24Hours.Application.PostgreSql.Test/Setup/StartupAsync.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Setup/Startup.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Setup/StartupAsync.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/CoreExtensionsRemainingCoverageTest.cs
  src/Tests/Mvp24Hours.Core.Test/Helpers/HelpersAdvancedTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Test/Extensions/ServiceCollectionExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Test/Helpers/ConfigurationHelperTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Test/Helpers/TimeZoneHelperTest.cs
  src/Tests/Mvp24Hours.Patterns.Test/Setup/Startup.cs
Labels: area: core, area: infrastructure, area: efcore, area: mongodb, area: rabbitmq, area: tests, area: documentation

docs(application-services): Document mutual exclusivity of cross-cutting concern bases
  docs/en-us/application-services.md
  src/Mvp24Hours.Application/Logic/Cache/CacheableApplicationServiceBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Cache/CacheableQueryServiceBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Events/EventAwareCommandServiceBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Observability/ObservableApplicationServiceBaseAsync.cs
Labels: area: application, area: documentation

feat(cqrs): Add marker interfaces for opt-in behavior scoping
  docs/en-us/cqrs/behaviors.md
  src/Mvp24Hours.Infrastructure.Cqrs/Abstractions/ICacheable.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Abstractions/ICircuitBreakerProtected.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Abstractions/IIdempotentCommand.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Abstractions/IRetryable.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Abstractions/ITransactional.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Behaviors/CachingBehavior.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Behaviors/CircuitBreakerBehavior.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Behaviors/IdempotencyBehavior.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Behaviors/RetryBehavior.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Behaviors/TransactionBehavior.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/AdvancedBehaviorsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Extensions/ServiceCollectionExtensionsAdvancedTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Support/BehaviorTestTypes.cs
Labels: area: infrastructure, area: tests, area: documentation

feat(webapi): Remove Swashbuckle-based Swagger/ReDoc APIs
  CHANGELOG.md
  docs/en-us/documentation.md
  docs/en-us/migration.md
  docs/en-us/modernization/native-openapi.md
  docs/en-us/webapi-advanced.md
  docs/en-us/webapi.md
  src/Directory.Packages.props
  src/Mvp24Hours.WebAPI/Configuration/ConfigureSwaggerGenOptions.cs
  src/Mvp24Hours.WebAPI/Configuration/NativeOpenApiOptions.cs
  src/Mvp24Hours.WebAPI/Configuration/SwaggerOptions.cs
  src/Mvp24Hours.WebAPI/Extensions/ApplicationBuilderExtensions.cs
  src/Mvp24Hours.WebAPI/Extensions/NativeOpenApiServiceExtensions.cs
  src/Mvp24Hours.WebAPI/Extensions/ServiceCollectionExtensions.cs
  src/Mvp24Hours.WebAPI/Filters/Swagger/AuthResponsesOperationFilter.cs
  src/Mvp24Hours.WebAPI/Filters/Swagger/CustomSwaggerFilter.cs
  src/Mvp24Hours.WebAPI/Filters/Swagger/DeprecationOperationFilter.cs
  src/Mvp24Hours.WebAPI/Filters/Swagger/ExamplesOperationFilter.cs
  src/Mvp24Hours.WebAPI/Filters/Swagger/VersionedSwaggerDocumentFilter.cs
  src/Mvp24Hours.WebAPI/Models/SwaggerAuthorizationScheme.cs
  src/Mvp24Hours.WebAPI/Mvp24Hours.WebAPI.csproj
  src/Tests/Mvp24Hours.WebAPI.Test/Extensions/ApplicationBuilderExtensionsTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Filters/SwaggerFiltersTest.cs
Labels: area: webapi, area: tests, area: documentation, dependencies

test: Add comprehensive unit tests for caching infrastructure
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Attributes/CacheAttributesTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Extensions/CachePerformanceExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Extensions/CachingExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Extensions/LegacyCacheExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Extensions/ObservabilityExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/KeyGenerators/DefaultCacheKeyGeneratorTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/RepositoryCacheTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/BulkOperationsRepositoryAsyncTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Interceptors/ConcurrencyInterceptorTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Interceptors/ConcurrencyModelBuilderExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/RepositoryAsyncTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/RepositoryBaseTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/RepositoryTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Support/TestEntities.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/UnitOfWorkWithEventsAsyncTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/UnitOfWorkWithEventsTest.cs
Labels: area: tests

test(cqrs): Add comprehensive exception handler and RabbitMQ publisher tests
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/ExtensibilityTests.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/RabbitMqIntegrationEventPublisherTest.cs
Labels: area: tests

test(extensions): Add comprehensive unit tests for core extension methods
  .gitignore
  src/Mvp24Hours.Core/Extensions/GenerateKeyExtensions.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/ChannelServiceExtensionsTest.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/ConvertExtensionsTest.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/EnumExtensionsTest.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/GenerateKeyExtensionsTest.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/GuidExtensionsTest.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/ServiceCollectionExtensionsTest.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/ValueObjectConverterTest.cs
Labels: area: core, area: tests

test(pipe,rabbitmq,webapi): Add comprehensive unit tests for pipeline and API components
  src/Tests/Mvp24Hours.Application.Pipe.Test/Context/OperationActivityMiddlewareTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Context/PipelineContextServiceExtensionsTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Context/PipelineMessageContextExtensionsTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Operations/Custom/Files/FileOperationsTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/HealthChecks/RabbitMQHealthCheckTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Pipeline/ExceptionHandlingConsumeFilterCoverageTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Pipeline/ValidationFiltersCoverageTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Binders/ExtensionBinderTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Binders/ModelBinderTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/ContentNegotiation/ContentNegotiationBuilderTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/ContentNegotiation/JsonContentFormatterTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Extensions/CorrelationIdExtensionsTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Middlewares/AntiForgeryMiddlewareTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Middlewares/IpFilteringMiddlewareTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Observability/WebApiActivitySourceTest.cs
Labels: area: tests

test(application): Add comprehensive unit tests for service collection extensions
  src/Tests/Mvp24Hours.Application.Test/Extensions/ApplicationEventServiceCollectionExtensionsTest.cs
  src/Tests/Mvp24Hours.Application.Test/Extensions/CacheServiceCollectionExtensionsTest.cs
  src/Tests/Mvp24Hours.Application.Test/Extensions/ObservabilityServiceCollectionExtensionsTest.cs
  src/Tests/Mvp24Hours.Application.Test/Extensions/PagedResultExtensionsTest.cs
  src/Tests/Mvp24Hours.Application.Test/Extensions/SpecificationServiceCollectionExtensionsTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Async/QueryServiceBaseAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/QueryServiceBaseTest.cs
Labels: area: tests

test(mongodb): Add comprehensive unit tests for MongoDB data infrastructure
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Performance/Projections/MongoDbProjection.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Extensions/MongoDbBsonExtensionsUnitTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Extensions/MongoDbProjectionExtensionsUnitTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/ReadOnlyRepositoryUnitTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/RepositoryUnitTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/UnitOfWorkAsyncUnitTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/UnitOfWorkUnitTest.cs
Labels: area: infrastructure, area: mongodb, area: tests

test(cron-job): Add comprehensive unit tests for CronJob infrastructure
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Configuration/CronJobOptionsValidatorBoundaryTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Control/CronJobStatusTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Observability/CronJobActivitySourceTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Observability/CronJobObservabilityExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Resiliency/InMemoryCronJobExecutionLockTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/ResilientScheduleConfigTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/ScheduleConfigTest.cs
Labels: area: tests

test(infrastructure): Add comprehensive unit tests for HTTP and configuration
  src/Mvp24Hours.Infrastructure/Http/Helpers/MultipartFormDataHelper.cs
  src/Tests/Mvp24Hours.Infrastructure.Test/Configuration/InfrastructureBuilderTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Test/Configuration/InfrastructureOptionsValidatorTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Test/Configuration/LazyProviderFactoryTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Test/Http/Extensions/HttpResponseExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Test/Http/Helpers/MultipartFormDataHelperTest.cs
Labels: area: infrastructure, area: tests

docs: Add AI agent rules and update documentation structure
  agent-rules/README.md
  agent-rules/claude-code.md
  agent-rules/cline.md
  agent-rules/continue.md
  agent-rules/cursor.mdc
  agent-rules/jetbrains-ai-assistant.md
  agent-rules/kiro.md
  agent-rules/vscode-copilot-instructions.md
  agent-rules/windsurf.md
  docs/_sidebar.md
  docs/en-us/_sidebar.md
  docs/en-us/ai-resources/agent-rules.md
  docs/en-us/ai-resources/compliance-checklist.md
  docs/en-us/ai-resources/home.md
  docs/en-us/ai-resources/skills-catalog.md
  docs/en-us/getting-started.md
  docs/en-us/guides/architecture/home.md
  docs/en-us/home.md
  docs/en-us/release.md
  docs/mvp24hours.mdc
  skills/README.md
Labels: area: documentation

docs: Refactor AI agent rules and consolidate documentation structure
  agent-rules/claude-code.md
  agent-rules/cline.md
  agent-rules/continue.md
  agent-rules/cursor.mdc
  agent-rules/jetbrains-ai-assistant.md
  agent-rules/kiro.md
  agent-rules/vscode-copilot-instructions.md
  agent-rules/windsurf.md
  docs/en-us/ai-context-migration-map.md
  docs/en-us/ai-context/ai-decision-matrix.md
  docs/en-us/ai-context/ai-implementation-index.md
  docs/en-us/ai-context/template-agent-framework-basic.md
  docs/en-us/ai-context/template-agent-framework-middleware.md
  docs/en-us/ai-context/template-agent-framework-multi-agent.md
  docs/en-us/ai-context/template-agent-framework-workflows.md
  docs/en-us/ai-context/template-sk-chat-completion.md
  docs/en-us/ai-context/template-sk-planners.md
  docs/en-us/ai-context/template-sk-plugins.md
  docs/en-us/ai-context/template-sk-rag-basic.md
  docs/en-us/ai-context/template-skg-chain-of-thought.md
  docs/en-us/ai-context/template-skg-chatbot-memory.md
  docs/en-us/ai-context/template-skg-checkpointing.md
  docs/en-us/ai-context/template-skg-document-pipeline.md
  docs/en-us/ai-context/template-skg-graph-executor.md
  docs/en-us/ai-context/template-skg-human-in-loop.md
  docs/en-us/ai-context/template-skg-multi-agent.md
  docs/en-us/ai-context/template-skg-observability.md
  docs/en-us/ai-context/template-skg-react-agent.md
  docs/en-us/ai-context/template-skg-streaming.md
  docs/en-us/ai-resources/agent-rules.md
  docs/en-us/ai-resources/home.md
  docs/en-us/documentation-authoring-guide.md
  docs/en-us/documentation-ia-policy.md
  docs/llms_compact_en.txt
  docs/llms_complete_en.txt
Labels: area: documentation

feat(pipe): Add GetKeys() method to IPipelineMessage interface
  CHANGELOG.md
  src/Mvp24Hours.Core/Contract/Infrastructure/Pipe/IPipelineMessage.cs
  src/Mvp24Hours.Infrastructure.Pipe/PipelineMessage.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Integration/Caching/CacheResultsMiddlewareTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/PipelineMessageTest.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/BusinessAsyncExtensionsTest.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/CoreExtensionsRemainingCoverageTest.cs
Labels: area: core, area: infrastructure, area: pipeline, area: tests, area: documentation

test(mcp-server): Add dynamic build configuration detection for MCP server tests
  mcp/tests/Mvp24Hours.Mcp.Tests/Integration/McpServerTests.cs
Labels: none

.github/labeler.yml:

# Labeler configuration for automatic PR labeling

# Core
'area: core':
  - 'src/Mvp24Hours.Core/**/*'

# Application
'area: application':
  - 'src/Mvp24Hours.Application/**/*'

# Infrastructure
'area: infrastructure':
  - 'src/Mvp24Hours.Infrastructure/**/*'
  - 'src/Mvp24Hours.Infrastructure.*/**/*'

# Data - EF Core
'area: efcore':
  - 'src/Mvp24Hours.Infrastructure.Data.EFCore/**/*'

# Data - MongoDB
'area: mongodb':
  - 'src/Mvp24Hours.Infrastructure.Data.MongoDb/**/*'

# Caching
'area: cache':
  - 'src/Mvp24Hours.Infrastructure.Caching/**/*'
  - 'src/Mvp24Hours.Infrastructure.Caching.Redis/**/*'

# RabbitMQ
'area: rabbitmq':
  - 'src/Mvp24Hours.Infrastructure.RabbitMQ/**/*'

# Pipeline
'area: pipeline':
  - 'src/Mvp24Hours.Infrastructure.Pipe/**/*'

# CronJob
'area: cronjob':
  - 'src/Mvp24Hours.Infrastructure.CronJob/**/*'

# WebAPI
'area: webapi':
  - 'src/Mvp24Hours.WebAPI/**/*'

# Tests
'area: tests':
  - 'src/Tests/**/*'
  - '**/*.Test/**/*'

# Documentation
'area: documentation':
  - 'docs/**/*'
  - '**/*.md'
  - 'README.md'
  - 'CHANGELOG.md'
  - 'CONTRIBUTING.md'

# CI/CD
'area: ci-cd':
  - '.github/**/*'
  - '*.yml'
  - '*.yaml'

# Dependencies
'dependencies':
  - '**/packages.lock.json'
  - '**/*.csproj'
  - 'src/**/*.csproj'
