Repository kallebelins/mvp24hours-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: area: core, area: application, area: infrastructure, area: efcore, area: mongodb, area: cache, area: rabbitmq, area: pipeline, area: cronjob, area: webapi, area: tests, area: documentation, area: ci-cd, dependencies

Upgrade .NET 9
  src/Mvp24Hours.Application.CronJob.Test/Mvp24Hours.Application.CronJob.Test.csproj
  src/Mvp24Hours.Application/Mvp24Hours.Application.csproj
  src/Mvp24Hours.Core/Mvp24Hours.Core.csproj
  src/Mvp24Hours.Infrastructure.Caching.Redis/Mvp24Hours.Infrastructure.Caching.Redis.csproj
  src/Mvp24Hours.Infrastructure.Caching/Mvp24Hours.Infrastructure.Caching.csproj
  src/Mvp24Hours.Infrastructure.CronJob/Mvp24Hours.Infrastructure.CronJob.csproj
  src/Mvp24Hours.Infrastructure.Data.EFCore/Mvp24Hours.Infrastructure.Data.EFCore.csproj
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Mvp24Hours.Infrastructure.Data.MongoDb.csproj
  src/Mvp24Hours.Infrastructure.Pipe/Mvp24Hours.Infrastructure.Pipe.csproj
  src/Mvp24Hours.Infrastructure.RabbitMQ/Mvp24Hours.Infrastructure.RabbitMQ.csproj
  src/Mvp24Hours.Infrastructure/Mvp24Hours.Infrastructure.csproj
  src/Mvp24Hours.WebAPI/Mvp24Hours.WebAPI.csproj
  src/Tests/Mvp24Hours.Application.MongoDb.Test/Mvp24Hours.Application.MongoDb.Test.csproj
  src/Tests/Mvp24Hours.Application.MySql.Test/Mvp24Hours.Application.MySql.Test.csproj
  src/Tests/Mvp24Hours.Application.Pipe.Test/Mvp24Hours.Application.Pipe.Test.csproj
  src/Tests/Mvp24Hours.Application.PostgreSql.Test/Mvp24Hours.Application.PostgreSql.Test.csproj
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Mvp24Hours.Application.RabbitMQ.Test.csproj
  src/Tests/Mvp24Hours.Application.Redis.Test/Mvp24Hours.Application.Redis.Test.csproj
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Mvp24Hours.Application.SQLServer.Test.csproj
  src/Tests/Mvp24Hours.Patterns.Test/Mvp24Hours.Patterns.Test.csproj
  src/Tests/Mvp24Hours.WebAPI.Test/Mvp24Hours.WebAPI.Test.csproj
Labels: area: core, area: application, area: infrastructure, area: efcore, area: mongodb, area: cache, area: rabbitmq, area: pipeline, area: cronjob, area: webapi, area: tests, dependencies

Update de vulnerabilidades de bibliotecas
  src/Mvp24Hours.Application.CronJob.Test/Mvp24Hours.Application.CronJob.Test.csproj
  src/Mvp24Hours.Application/Mvp24Hours.Application.csproj
  src/Mvp24Hours.Infrastructure.Caching.Redis/Mvp24Hours.Infrastructure.Caching.Redis.csproj
  src/Mvp24Hours.Infrastructure.Caching/Mvp24Hours.Infrastructure.Caching.csproj
  src/Mvp24Hours.Infrastructure.CronJob/Mvp24Hours.Infrastructure.CronJob.csproj
  src/Mvp24Hours.Infrastructure.Data.EFCore/Mvp24Hours.Infrastructure.Data.EFCore.csproj
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Mvp24Hours.Infrastructure.Data.MongoDb.csproj
  src/Mvp24Hours.Infrastructure.Pipe/Mvp24Hours.Infrastructure.Pipe.csproj
  src/Mvp24Hours.Infrastructure.RabbitMQ/Mvp24Hours.Infrastructure.RabbitMQ.csproj
  src/Mvp24Hours.Infrastructure/Mvp24Hours.Infrastructure.csproj
  src/Mvp24Hours.WebAPI/Mvp24Hours.WebAPI.csproj
  src/Tests/Mvp24Hours.Application.MongoDb.Test/Mvp24Hours.Application.MongoDb.Test.csproj
  src/Tests/Mvp24Hours.Application.MySql.Test/Mvp24Hours.Application.MySql.Test.csproj
  src/Tests/Mvp24Hours.Application.Pipe.Test/Mvp24Hours.Application.Pipe.Test.csproj
  src/Tests/Mvp24Hours.Application.PostgreSql.Test/Mvp24Hours.Application.PostgreSql.Test.csproj
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Mvp24Hours.Application.RabbitMQ.Test.csproj
  src/Tests/Mvp24Hours.Application.Redis.Test/Mvp24Hours.Application.Redis.Test.csproj
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Mvp24Hours.Application.SQLServer.Test.csproj
  src/Tests/Mvp24Hours.Patterns.Test/Mvp24Hours.Patterns.Test.csproj
  src/Tests/Mvp24Hours.WebAPI.Test/Mvp24Hours.WebAPI.Test.csproj
Labels: area: application, area: infrastructure, area: efcore, area: mongodb, area: cache, area: rabbitmq, area: pipeline, area: cronjob, area: webapi, area: tests, dependencies

[feat] update to .net 10
  README.md
  src/Mvp24Hours.Application.CronJob.Test/Mvp24Hours.Application.CronJob.Test.csproj
  src/Mvp24Hours.Application/Mvp24Hours.Application.csproj
  src/Mvp24Hours.Core/Contract/Infrastructure/Pipe/Async/IPipelineAsync.cs
  src/Mvp24Hours.Core/Contract/Infrastructure/Pipe/IPipeline.cs
  src/Mvp24Hours.Core/Events/EventHandler.cs
  src/Mvp24Hours.Core/Mvp24Hours.Core.csproj
  src/Mvp24Hours.Infrastructure.Caching.Redis/Mvp24Hours.Infrastructure.Caching.Redis.csproj
  src/Mvp24Hours.Infrastructure.Caching/Mvp24Hours.Infrastructure.Caching.csproj
  src/Mvp24Hours.Infrastructure.CronJob/Mvp24Hours.Infrastructure.CronJob.csproj
  src/Mvp24Hours.Infrastructure.Data.EFCore/Mvp24Hours.Infrastructure.Data.EFCore.csproj
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Mvp24Hours.Infrastructure.Data.MongoDb.csproj
  src/Mvp24Hours.Infrastructure.Pipe/Mvp24Hours.Infrastructure.Pipe.csproj
  src/Mvp24Hours.Infrastructure.Pipe/Pipeline.cs
  src/Mvp24Hours.Infrastructure.Pipe/PipelineAsync.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Mvp24Hours.Infrastructure.RabbitMQ.csproj
  src/Mvp24Hours.Infrastructure/Mvp24Hours.Infrastructure.csproj
  src/Mvp24Hours.WebAPI/Mvp24Hours.WebAPI.csproj
  src/Tests/Mvp24Hours.Application.MongoDb.Test/Mvp24Hours.Application.MongoDb.Test.csproj
  src/Tests/Mvp24Hours.Application.MySql.Test/Mvp24Hours.Application.MySql.Test.csproj
  src/Tests/Mvp24Hours.Application.Pipe.Test/Mvp24Hours.Application.Pipe.Test.csproj
  src/Tests/Mvp24Hours.Application.PostgreSql.Test/Mvp24Hours.Application.PostgreSql.Test.csproj
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Mvp24Hours.Application.RabbitMQ.Test.csproj
  src/Tests/Mvp24Hours.Application.Redis.Test/Mvp24Hours.Application.Redis.Test.csproj
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Mvp24Hours.Application.SQLServer.Test.csproj
  src/Tests/Mvp24Hours.Patterns.Test/Mvp24Hours.Patterns.Test.csproj
  src/Tests/Mvp24Hours.WebAPI.Test/Mvp24Hours.WebAPI.Test.csproj
Labels: area: core, area: application, area: infrastructure, area: efcore, area: mongodb, area: cache, area: rabbitmq, area: pipeline, area: cronjob, area: webapi, area: tests, area: documentation, dependencies

Update project versioning to 9.10.291 and add tasks.md to .gitignore
  .gitignore
  docs/prompts.md
  src/Mvp24Hours.Application/Mvp24Hours.Application.csproj
  src/Mvp24Hours.Core/Mvp24Hours.Core.csproj
  src/Mvp24Hours.Infrastructure.Caching.Redis/Mvp24Hours.Infrastructure.Caching.Redis.csproj
  src/Mvp24Hours.Infrastructure.Caching/Mvp24Hours.Infrastructure.Caching.csproj
  src/Mvp24Hours.Infrastructure.CronJob/Mvp24Hours.Infrastructure.CronJob.csproj
  src/Mvp24Hours.Infrastructure.Data.EFCore/Extensions/DatabaseExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Mvp24Hours.Infrastructure.Data.EFCore.csproj
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Mvp24Hours.Infrastructure.Data.MongoDb.csproj
  src/Mvp24Hours.Infrastructure.Pipe/Mvp24Hours.Infrastructure.Pipe.csproj
  src/Mvp24Hours.Infrastructure.RabbitMQ/Mvp24Hours.Infrastructure.RabbitMQ.csproj
  src/Mvp24Hours.Infrastructure/Mvp24Hours.Infrastructure.csproj
  src/Mvp24Hours.WebAPI/Mvp24Hours.WebAPI.csproj
  src/Tests/Mvp24Hours.Application.PostgreSql.Test/Mvp24Hours.Application.PostgreSql.Test.csproj
  src/Tests/Mvp24Hours.Application.PostgreSql.Test/xunit.runner.json
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Mvp24Hours.Application.SQLServer.Test.csproj
  src/Tests/Mvp24Hours.Application.SQLServer.Test/xunit.runner.json
Labels: area: core, area: application, area: infrastructure, area: efcore, area: mongodb, area: cache, area: rabbitmq, area: pipeline, area: cronjob, area: webapi, area: tests, area: documentation, dependencies

Add Mvp24Hours.Infrastructure.Cqrs.Test project to solution
  src/Mvp24Hours.sln
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/BehaviorTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/BenchmarkTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/DependencyInjectionTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/DomainEventTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/GlobalUsings.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/MediatorTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Mvp24Hours.Infrastructure.Cqrs.Test.csproj
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/NotificationTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/StreamTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Support/MockUnitOfWork.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Support/TestCommand.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Support/TestDomainEvent.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Support/TestNotification.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Support/TestQuery.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Support/TestStreamRequest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Support/TestValidators.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Support/TransactionalCommand.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/TransactionIntegrationTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/UnitStructTest.cs
Labels: area: tests, dependencies

Add global using for Mvp24Hours.Infrastructure.Cqrs.Abstractions
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/AggregateRoot.cs
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/ConcurrencyException.cs
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/EventSourcingExtensions.cs
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/EventStoreRepository.cs
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/EventStream.cs
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/IAggregate.cs
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/IEventSerializer.cs
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/IEventStore.cs
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/InMemoryEventStore.cs
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/InMemorySnapshotStore.cs
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/Snapshot.cs
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/StoredEvent.cs
  src/Mvp24Hours.Infrastructure.Cqrs/GlobalUsings.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/EventSourcingTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Support/TestAggregate.cs
Labels: area: infrastructure, area: tests

Add Microsoft.Extensions.Hosting.Abstractions package and refactor EventSourcingExtensions
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/EventSourcingExtensions.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Mvp24Hours.Infrastructure.Cqrs.csproj
  src/Mvp24Hours.Infrastructure.Cqrs/Projections/IProjection.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Projections/IProjectionHandler.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Projections/IReadModelRepository.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Projections/InMemoryReadModelRepository.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Projections/IncrementalProjection.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Projections/ProjectionExtensions.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Projections/ProjectionHostedService.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Projections/ProjectionManager.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/ProjectionTest.cs
Labels: area: infrastructure, area: tests, dependencies

Refactor EventSourcingExtensions and update project dependencies
  src/Mvp24Hours.Infrastructure.Cqrs/Saga/CompensatingCommand.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Saga/ISaga.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Saga/ISagaOrchestrator.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Saga/ISagaStateStore.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Saga/ISagaStep.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Saga/InMemorySagaStateStore.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Saga/SagaBase.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Saga/SagaExceptions.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Saga/SagaExtensions.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Saga/SagaHostedService.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Saga/SagaOrchestrator.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Saga/SagaResult.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Saga/SagaState.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Saga/SagaStatus.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/SagaTest.cs
Labels: area: infrastructure, area: tests

Add observability behaviors and update project dependencies
  src/Mvp24Hours.Infrastructure.Cqrs/Behaviors/AuditBehavior.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Behaviors/RequestContextBehavior.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Behaviors/TelemetryBehavior.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Behaviors/TracingBehavior.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Extensions/ServiceCollectionExtensions.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Mvp24Hours.Infrastructure.Cqrs.csproj
  src/Mvp24Hours.Infrastructure.Cqrs/Observability/IAuditStore.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Observability/IRequestContext.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Observability/OpenTelemetryIntegration.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Observability/RequestContext.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/ObservabilityTest.cs
Labels: area: infrastructure, area: tests, dependencies

Add multi-tenancy and resilience behaviors to MediatorOptions
  src/Mvp24Hours.Infrastructure.Cqrs/Behaviors/CircuitBreakerBehavior.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Behaviors/CurrentUserBehavior.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Behaviors/TenantBehavior.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Behaviors/TimeoutBehavior.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Extensions/ServiceCollectionExtensions.cs
  src/Mvp24Hours.Infrastructure.Cqrs/MultiTenancy/CurrentUser.cs
  src/Mvp24Hours.Infrastructure.Cqrs/MultiTenancy/ICurrentUser.cs
  src/Mvp24Hours.Infrastructure.Cqrs/MultiTenancy/ITenantContext.cs
  src/Mvp24Hours.Infrastructure.Cqrs/MultiTenancy/TenantContext.cs
  src/Mvp24Hours.Infrastructure.Cqrs/MultiTenancy/TenantQueryFilter.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/MultiTenancyTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/TimeoutAndCircuitBreakerTest.cs
Labels: area: infrastructure, area: tests

Add Inbox/Outbox documentation and configuration options
  docs/en-us/cqrs/resilience/inbox-outbox.md
  docs/pt-br/cqrs/resilience/inbox-outbox.md
  src/Mvp24Hours.Infrastructure.Cqrs/Abstractions/IDeadLetterStore.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Abstractions/IInboxStore.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Extensions/InboxOutboxExtensions.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Implementations/InMemoryDeadLetterStore.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Implementations/InMemoryInboxStore.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Messaging/InboxOutboxOptions.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Messaging/InboxProcessor.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Messaging/OutboxProcessor.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/InboxOutboxTest.cs
Labels: area: infrastructure, area: tests, area: documentation

Add extensibility features to MediatorOptions and update documentation
  docs/en-us/_sidebar.md
  docs/en-us/cqrs/extensibility.md
  docs/pt-br/_sidebar.md
  docs/pt-br/cqrs/extensibility.md
  src/Mvp24Hours.Infrastructure.Cqrs/Abstractions/IExceptionHandler.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Abstractions/IMediatorDecorator.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Abstractions/IPipelineHook.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Abstractions/IPostProcessor.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Abstractions/IPreProcessor.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Behaviors/ExceptionHandlerBehavior.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Behaviors/PipelineHookBehavior.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Behaviors/PrePostProcessorBehavior.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Extensions/ServiceCollectionExtensions.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/ExtensibilityTests.cs
Labels: area: infrastructure, area: tests, area: documentation

Add multi-tenancy, scheduled commands, and specifications documentation to sidebars
  docs/en-us/_sidebar.md
  docs/en-us/cqrs/multi-tenancy.md
  docs/en-us/cqrs/scheduled-commands.md
  docs/en-us/cqrs/specifications.md
  docs/pt-br/_sidebar.md
  docs/pt-br/cqrs/multi-tenancy.md
  docs/pt-br/cqrs/scheduled-commands.md
  docs/pt-br/cqrs/specifications.md
  src/Mvp24Hours.Core/Contract/Domain/Specifications/ISpecificationQueryEnhanced.cs
  src/Mvp24Hours.Core/Domain/Specifications/CompositeSpecifications.cs
  src/Mvp24Hours.Core/Domain/Specifications/Specification.cs
  src/Mvp24Hours.Core/Extensions/SpecificationExtensions.cs
  src/Mvp24Hours.Core/Extensions/SpecificationPagingExtensions.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Queries/PaginatedQuery.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Queries/SortedQuery.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Scheduling/CommandScheduler.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Scheduling/ICommandScheduler.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Scheduling/IScheduledCommand.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Scheduling/IScheduledCommandStore.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Scheduling/InMemoryScheduledCommandStore.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Scheduling/ScheduledCommandHostedService.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Scheduling/SchedulingExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Specifications/SpecificationEvaluator.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/ScheduledCommandTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/SpecificationTest.cs
Labels: area: core, area: infrastructure, area: efcore, area: tests, area: documentation

Enhance tests and mock server setup for HTTP client interactions
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/SpecificationTest.cs
  src/Tests/Mvp24Hours.Patterns.Test/HttpClientTest.cs
  src/Tests/Mvp24Hours.Patterns.Test/Mvp24Hours.Patterns.Test.csproj
  src/Tests/Mvp24Hours.Patterns.Test/Setup/Startup.cs
Labels: area: tests, dependencies

Refactor CronJob test project structure and update references
  src/Mvp24Hours.Application.CronJob.Test/GlobalUsings.cs
  src/Mvp24Hours.Application.CronJob.Test/Support/Services/TimerService.cs
  src/Mvp24Hours.Infrastructure.CronJob/Services/CronJobService.cs
  src/Mvp24Hours.sln
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/CronJobTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/GlobalUsings.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Mvp24Hours.Infrastructure.CronJob.Test.csproj
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Support/CronJobs/CustomerCronJob.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Support/Services/TimerService.cs
Labels: area: infrastructure, area: cronjob, area: tests, dependencies

Refactor repository registration and enhance service extensions for improved auditing and logging
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Extensions/MongoDbResiliencyExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Resiliency/IMongoDbResiliencyPolicy.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Resiliency/MongoDbCircuitBreaker.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Resiliency/MongoDbConnectionManager.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Resiliency/MongoDbResiliencyExceptions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Resiliency/MongoDbResiliencyOptions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Resiliency/MongoDbResiliencyPolicy.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Resiliency/MongoDbRetryPolicy.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Mvp24Hours.Infrastructure.Data.MongoDb.Test.csproj
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Resiliency/MongoDbCircuitBreakerTests.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Resiliency/MongoDbConnectionManagerTests.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Resiliency/MongoDbResiliencyExtensionsTests.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Resiliency/MongoDbResiliencyOptionsTests.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Resiliency/MongoDbResiliencyPolicyTests.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Resiliency/MongoDbRetryPolicyTests.cs
Labels: area: infrastructure, area: mongodb, area: tests, dependencies

Enhance repository registration and service extensions for improved multi-tenancy support
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Observability/IMongoDbMetrics.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Observability/MongoDbConnectionPoolMetrics.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Observability/MongoDbDurationTracker.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Observability/MongoDbMetrics.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Observability/MongoDbObservabilityExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Observability/MongoDbObservabilityOptions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Observability/MongoDbOpenTelemetryInstrumentation.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Observability/MongoDbSlowQueryLogger.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Observability/MongoDbStructuredLogger.cs
Labels: area: infrastructure, area: mongodb

Add health check and hosting abstractions package references to MongoDB project
  src/Mvp24Hours.Infrastructure.Data.MongoDb/HealthChecks/MongoDbHealthCheck.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/HealthChecks/MongoDbHealthCheckExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/HealthChecks/MongoDbReplicaSetHealthCheck.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Infrastructure/Migrations/IMongoDbMigration.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Infrastructure/Migrations/IMongoDbMigrationRunner.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Infrastructure/Migrations/MongoDbMigrationHistory.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Infrastructure/Migrations/MongoDbMigrationHostedService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Infrastructure/Migrations/MongoDbMigrationRunner.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Infrastructure/MongoDbIndexVerificationService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Infrastructure/MongoDbInfrastructureExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Mvp24Hours.Infrastructure.Data.MongoDb.csproj
Labels: area: infrastructure, area: mongodb, dependencies

Update package references in MongoDB projects for compatibility and enhancements
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Async/UnitOfWorkWithEventsAsync.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Cqrs/DomainEventDispatcherAdapter.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Cqrs/IDomainEventDispatcherMongoDb.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Cqrs/NoOpDomainEventDispatcher.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Extensions/MongoDbCqrsIntegrationExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Mvp24Hours.Infrastructure.Data.MongoDb.csproj
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Testing/IMongoDataSeeder.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Testing/MongoDbContextFactory.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Testing/MongoDbInMemoryOptions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Testing/MongoDbInMemoryProvider.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Testing/MongoDbTestcontainersHelper.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Testing/MongoDbTestingExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Testing/MongoRepositoryFake.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Testing/MongoUnitOfWorkFake.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/UnitOfWorkWithEvents.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Mvp24Hours.Infrastructure.Data.MongoDb.Test.csproj
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Testing/MongoDbTestingTests.cs
Labels: area: infrastructure, area: mongodb, area: tests, dependencies

Add GridFS package reference to MongoDB project
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/CappedCollections/CappedCollectionOptions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/CappedCollections/IMongoDbCappedCollectionService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/CappedCollections/MongoDbCappedCollectionService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/ChangeStreams/IMongoDbChangeStreamService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/ChangeStreams/MongoDbChangeStreamService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/Collation/MongoDbCollationExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/Collation/MongoDbCollationOptions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/Concerns/MongoDbConcernExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/Concerns/MongoDbConcernOptions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/Geospatial/GeoPoint.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/Geospatial/IMongoDbGeospatialService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/Geospatial/MongoDbGeospatialService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/GridFS/IMongoDbGridFsService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/GridFS/MongoDbGridFsService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/MongoDbAdvancedExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/SchemaValidation/IMongoDbSchemaValidationService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/SchemaValidation/JsonSchemaBuilder.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/SchemaValidation/MongoDbSchemaValidationOptions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/SchemaValidation/MongoDbSchemaValidationService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/Sharding/IMongoDbShardingService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/Sharding/MongoDbShardingOptions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/Sharding/MongoDbShardingService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/TextSearch/IMongoDbTextSearchService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/TextSearch/MongoDbTextSearchOptions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/TextSearch/MongoDbTextSearchService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/TextSearch/TextSearchResult.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/TimeSeries/IMongoDbTimeSeriesService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/TimeSeries/MongoDbTimeSeriesService.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/TimeSeries/TimeSeriesOptions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/Transactions/IMongoDbTransactionManager.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/Transactions/MongoDbTransactionManager.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/Transactions/MongoDbTransactionOptions.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Mvp24Hours.Infrastructure.Data.MongoDb.csproj
Labels: area: infrastructure, area: mongodb, dependencies

Enhance RabbitMQ client with metrics, structured logging, and deduplication support
  src/Mvp24Hours.Infrastructure.RabbitMQ/Configuration/BatchPublishOptions.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Configuration/ConsumerPrefetchOptions.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Configuration/HeadersExchangeOptions.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Configuration/MessageDeduplicationOptions.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Configuration/MessageTtlOptions.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Configuration/PriorityQueueOptions.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Configuration/PublisherConfirmOptions.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Configuration/RabbitMQClientOptions.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Configuration/RequestClientOptions.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Consumers/ConsumeContext.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Consumers/ConsumerDefinition.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Consumers/FaultContext.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Core/Contract/IConsumeContext.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Core/Contract/IConsumerDefinition.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Core/Contract/IFaultConsumer.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Core/Contract/IMessage.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Core/Contract/IMessageConsumer.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Core/Contract/IMessageDeduplicationStore.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Core/Contract/IMessageSerializer.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Core/Contract/IMessageTypeResolver.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Core/Contract/IMvpRabbitMQClient.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Core/Contract/IRequestClient.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Core/Contract/IRequestHandler.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Core/Contract/Response.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Deduplication/InMemoryMessageDeduplicationStore.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Exceptions/RequestTimeoutException.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Extensions/RabbitMQServiceExtensions.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/HealthChecks/RabbitMQHealthCheck.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Logging/IRabbitMQStructuredLogger.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Logging/RabbitMQStructuredLogger.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Messages/Message.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Metrics/IRabbitMQMetrics.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Metrics/RabbitMQMetrics.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Metrics/RabbitMQMetricsSnapshot.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Mvp24Hours.Infrastructure.RabbitMQ.csproj
  src/Mvp24Hours.Infrastructure.RabbitMQ/MvpRabbitMQClient.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/RequestResponse/RequestClient.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Serialization/JsonMessageSerializer.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Serialization/MessageTypeResolver.cs
Labels: area: infrastructure, area: rabbitmq, dependencies

Add Microsoft.Extensions.DependencyInjection.Abstractions package reference
  src/Mvp24Hours.Application/Extensions/ApplicationServiceCollectionExtensions.cs
  src/Mvp24Hours.Application/Logic/ApplicationServiceBase.cs
  src/Mvp24Hours.Application/Logic/ApplicationServiceBaseWithDto.cs
  src/Mvp24Hours.Application/Logic/ApplicationServiceBaseWithSeparateDtos.cs
  src/Mvp24Hours.Application/Logic/Async/ApplicationServiceBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Async/ApplicationServiceBaseWithDtoAsync.cs
  src/Mvp24Hours.Application/Logic/Async/ApplicationServiceBaseWithSeparateDtosAsync.cs
  src/Mvp24Hours.Application/Logic/Async/CommandServiceBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Async/QueryServiceBaseAsync.cs
  src/Mvp24Hours.Application/Logic/CommandServiceBase.cs
  src/Mvp24Hours.Application/Logic/QueryServiceBase.cs
  src/Mvp24Hours.Application/Mvp24Hours.Application.csproj
  src/Mvp24Hours.Core/Contract/Logic/Async/IApplicationServiceAsync.cs
  src/Mvp24Hours.Core/Contract/Logic/Async/IApplicationServiceWithDtoAsync.cs
  src/Mvp24Hours.Core/Contract/Logic/Async/IApplicationServiceWithDtoSeparateAsync.cs
  src/Mvp24Hours.Core/Contract/Logic/Async/IReadOnlyApplicationServiceAsync.cs
  src/Mvp24Hours.Core/Contract/Logic/IApplicationService.cs
  src/Mvp24Hours.Core/Contract/Logic/IApplicationServiceWithDto.cs
  src/Mvp24Hours.Core/Contract/Logic/IApplicationServiceWithDtoSeparate.cs
  src/Mvp24Hours.Core/Contract/Logic/IReadOnlyApplicationService.cs
Labels: area: core, area: application, dependencies

Update MongoDB project with GridFS support and package reference enhancements
  src/Mvp24Hours.Application/Contract/Validation/ICascadeValidator.cs
  src/Mvp24Hours.Application/Contract/Validation/IValidationPipeline.cs
  src/Mvp24Hours.Application/Contract/Validation/IValidationService.cs
  src/Mvp24Hours.Application/Extensions/ValidationServiceCollectionExtensions.cs
  src/Mvp24Hours.Application/Logic/Validation/ValidationPipeline.cs
  src/Mvp24Hours.Application/Logic/Validation/ValidationService.cs
  src/Mvp24Hours.Application/Logic/Validation/ValidationSteps/CascadeValidationStep.cs
  src/Mvp24Hours.Application/Logic/Validation/ValidationSteps/CustomValidationStep.cs
  src/Mvp24Hours.Application/Logic/Validation/ValidationSteps/DataAnnotationValidationStep.cs
  src/Mvp24Hours.Application/Logic/Validation/ValidationSteps/FluentValidationStep.cs
  src/Mvp24Hours.Application/Logic/Validation/ValidationSteps/NullCheckValidationStep.cs
Labels: area: application

Refactor Application Services for Enhanced Querying and Validation
  src/Mvp24Hours.Infrastructure/Http/Builders/HttpClientBuilder.cs
  src/Mvp24Hours.Infrastructure/Http/Contract/IHttpClientSerializer.cs
  src/Mvp24Hours.Infrastructure/Http/Contract/ITypedHttpClient.cs
  src/Mvp24Hours.Infrastructure/Http/Extensions/HttpClientServiceExtensions.cs
  src/Mvp24Hours.Infrastructure/Http/Helpers/CertificateHelper.cs
  src/Mvp24Hours.Infrastructure/Http/Options/HttpClientOptions.cs
  src/Mvp24Hours.Infrastructure/Http/Serializers/JsonHttpClientSerializer.cs
  src/Mvp24Hours.Infrastructure/Http/Serializers/NewtonsoftHttpClientSerializer.cs
  src/Mvp24Hours.Infrastructure/Http/TypedHttpClient.cs
Labels: area: infrastructure

Enhance LoggingDelegatingHandler with Advanced Logging Features
  src/Mvp24Hours.Infrastructure/Http/DelegatingHandlers/AuthenticationDelegatingHandler.cs
  src/Mvp24Hours.Infrastructure/Http/DelegatingHandlers/CircuitBreakerDelegatingHandler.cs
  src/Mvp24Hours.Infrastructure/Http/DelegatingHandlers/CompressionDelegatingHandler.cs
  src/Mvp24Hours.Infrastructure/Http/DelegatingHandlers/LoggingDelegatingHandler.cs
  src/Mvp24Hours.Infrastructure/Http/DelegatingHandlers/RetryDelegatingHandler.cs
  src/Mvp24Hours.Infrastructure/Http/DelegatingHandlers/TelemetryDelegatingHandler.cs
  src/Mvp24Hours.Infrastructure/Http/DelegatingHandlers/TimeoutDelegatingHandler.cs
  src/Mvp24Hours.Infrastructure/Http/Extensions/HttpClientServiceExtensions.cs
  src/Mvp24Hours.Infrastructure/Http/Options/HttpClientOptions.cs
Labels: area: infrastructure

Add GetStreamAsync method for async byte streaming in TypedHttpClient
  src/Mvp24Hours.Infrastructure/Http/Contract/IHttpContentSerializer.cs
  src/Mvp24Hours.Infrastructure/Http/Contract/ITypedHttpClient.cs
  src/Mvp24Hours.Infrastructure/Http/Extensions/HttpClientSerializationExtensions.cs
  src/Mvp24Hours.Infrastructure/Http/Extensions/HttpClientServiceExtensions.cs
  src/Mvp24Hours.Infrastructure/Http/Extensions/HttpResponseExtensions.cs
  src/Mvp24Hours.Infrastructure/Http/Helpers/MultipartFormDataHelper.cs
  src/Mvp24Hours.Infrastructure/Http/Resilience/BulkheadPolicy.cs
  src/Mvp24Hours.Infrastructure/Http/Resilience/CircuitBreakerPolicy.cs
  src/Mvp24Hours.Infrastructure/Http/Resilience/FallbackPolicy.cs
  src/Mvp24Hours.Infrastructure/Http/Resilience/HttpClientResilienceExtensions.cs
  src/Mvp24Hours.Infrastructure/Http/Resilience/IHttpResiliencePolicy.cs
  src/Mvp24Hours.Infrastructure/Http/Resilience/PolicyWrap.cs
  src/Mvp24Hours.Infrastructure/Http/Resilience/RetryPolicy.cs
  src/Mvp24Hours.Infrastructure/Http/Resilience/TimeoutPolicy.cs
  src/Mvp24Hours.Infrastructure/Http/Serializers/JsonHttpClientSerializer.cs
  src/Mvp24Hours.Infrastructure/Http/Serializers/MessagePackHttpClientSerializer.cs
  src/Mvp24Hours.Infrastructure/Http/Serializers/NewtonsoftHttpClientSerializer.cs
  src/Mvp24Hours.Infrastructure/Http/Serializers/XmlHttpClientSerializer.cs
  src/Mvp24Hours.Infrastructure/Http/TypedHttpClient.cs
  src/Mvp24Hours.Infrastructure/Mvp24Hours.Infrastructure.csproj
Labels: area: infrastructure, dependencies

Update documentation and project dependencies for observability enhancements
  docs/en-us/_sidebar.md
  docs/en-us/observability/tracing.md
  docs/pt-br/_sidebar.md
  docs/pt-br/observability/tracing.md
  src/Mvp24Hours.Core/Observability/ActivityEnricherBase.cs
  src/Mvp24Hours.Core/Observability/ActivityExtensions.cs
  src/Mvp24Hours.Core/Observability/ActivityHelper.cs
  src/Mvp24Hours.Core/Observability/ActivitySources.cs
  src/Mvp24Hours.Core/Observability/IActivityEnricher.cs
  src/Mvp24Hours.Core/Observability/SemanticTags.cs
  src/Mvp24Hours.Core/Observability/TracePropagation.cs
  src/Mvp24Hours.Core/Observability/TracingServiceExtensions.cs
  src/Tests/Mvp24Hours.Core.Test/Mvp24Hours.Core.Test.csproj
  src/Tests/Mvp24Hours.Core.Test/ObservabilityTest.cs
Labels: area: core, area: tests, area: documentation, dependencies

Add OpenTelemetry Metrics section to documentation sidebar
  docs/en-us/_sidebar.md
  docs/en-us/observability/metrics.md
  docs/pt-br/_sidebar.md
  docs/pt-br/observability/metrics.md
  src/Mvp24Hours.Core/Observability/MetricNames.cs
  src/Mvp24Hours.Core/Observability/MetricSources.cs
  src/Mvp24Hours.Core/Observability/Metrics/CacheMetrics.cs
  src/Mvp24Hours.Core/Observability/Metrics/CqrsMetrics.cs
  src/Mvp24Hours.Core/Observability/Metrics/CronJobMetrics.cs
  src/Mvp24Hours.Core/Observability/Metrics/HttpMetrics.cs
  src/Mvp24Hours.Core/Observability/Metrics/InfrastructureMetrics.cs
  src/Mvp24Hours.Core/Observability/Metrics/MessagingMetrics.cs
  src/Mvp24Hours.Core/Observability/Metrics/PipelineMetrics.cs
  src/Mvp24Hours.Core/Observability/Metrics/RepositoryMetrics.cs
  src/Mvp24Hours.Core/Observability/MetricsServiceExtensions.cs
Labels: area: core, area: documentation

Refactor MvpRabbitMQClient to use ActivatorUtilities for consumer instantiation
  src/Mvp24Hours.Infrastructure.RabbitMQ/MvpRabbitMQClient.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Test7BulkOperations.cs
Labels: area: infrastructure, area: rabbitmq, area: tests

Update documentation and project dependencies for options configuration and resilience improvements
  docs/en-us/_sidebar.md
  docs/en-us/modernization/options-configuration.md
  docs/pt-br/_sidebar.md
  docs/pt-br/modernization/options-configuration.md
  src/Mvp24Hours.Core/Contract/Infrastructure/Options/IOptionsValidator.cs
  src/Mvp24Hours.Core/Contract/Infrastructure/Options/OptionsValidationContext.cs
  src/Mvp24Hours.Core/Extensions/Options/OptionsValidationExtensions.cs
  src/Mvp24Hours.Core/Extensions/Options/OptionsValidatorBase.cs
  src/Mvp24Hours.Core/Mvp24Hours.Core.csproj
  src/Mvp24Hours.Infrastructure.Cqrs/Behaviors/NativeResilienceBehavior.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Mvp24Hours.Infrastructure.Cqrs.csproj
  src/Mvp24Hours.Infrastructure.Data.EFCore/Mvp24Hours.Infrastructure.Data.EFCore.csproj
  src/Mvp24Hours.Infrastructure.Data.EFCore/Resilience/NativeDbResilienceExtensions.cs
  src/Mvp24Hours.Infrastructure.Pipe/Mvp24Hours.Infrastructure.Pipe.csproj
  src/Mvp24Hours.Infrastructure.Pipe/Resiliency/NativePipelineResilienceExtensions.cs
  src/Tests/Mvp24Hours.Core.Test/Options/OptionsValidationTest.cs
Labels: area: core, area: infrastructure, area: efcore, area: pipeline, area: tests, area: documentation, dependencies

Add Channels section to documentation sidebar in English and Portuguese
  docs/en-us/_sidebar.md
  docs/en-us/modernization/channels.md
  docs/pt-br/_sidebar.md
  docs/pt-br/modernization/channels.md
  src/Mvp24Hours.Core.Test/Channels/ChannelTest.cs
  src/Mvp24Hours.Core/Contract/Infrastructure/Channels/IChannel.cs
  src/Mvp24Hours.Core/Contract/Infrastructure/Channels/IChannelMessage.cs
  src/Mvp24Hours.Core/Contract/Infrastructure/Channels/IChannelOptions.cs
  src/Mvp24Hours.Core/Contract/Infrastructure/Channels/IChannelReader.cs
  src/Mvp24Hours.Core/Contract/Infrastructure/Channels/IChannelWriter.cs
  src/Mvp24Hours.Core/Extensions/ChannelServiceExtensions.cs
  src/Mvp24Hours.Core/Infrastructure/Channels/ChannelFactory.cs
  src/Mvp24Hours.Core/Infrastructure/Channels/MvpChannel.cs
  src/Mvp24Hours.Core/Infrastructure/Channels/ProducerConsumer.cs
  src/Mvp24Hours.Infrastructure.Pipe/Channels/ChannelPipeline.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Channels/ChannelBatchProcessor.cs
Labels: area: core, area: infrastructure, area: rabbitmq, area: pipeline, area: tests, area: documentation

Deprecate MultiLevelCache in favor of HybridCache and update documentation
  docs/en-us/_sidebar.md
  docs/en-us/modernization/hybrid-cache.md
  docs/pt-br/_sidebar.md
  docs/pt-br/modernization/hybrid-cache.md
  src/Mvp24Hours.Core/Contract/Infrastructure/Caching/IMultiLevelCache.cs
  src/Mvp24Hours.Infrastructure.Caching/Extensions/MultiLevelCacheExtensions.cs
  src/Mvp24Hours.Infrastructure.Caching/HybridCache/HybridCacheExtensions.cs
  src/Mvp24Hours.Infrastructure.Caching/HybridCache/HybridCacheProvider.cs
  src/Mvp24Hours.Infrastructure.Caching/HybridCache/HybridCacheServiceExtensions.cs
  src/Mvp24Hours.Infrastructure.Caching/HybridCache/IHybridCacheTagManager.cs
  src/Mvp24Hours.Infrastructure.Caching/HybridCache/InMemoryHybridCacheTagManager.cs
  src/Mvp24Hours.Infrastructure.Caching/HybridCache/MvpHybridCacheOptions.cs
  src/Mvp24Hours.Infrastructure.Caching/HybridCache/RedisHybridCacheTagManager.cs
  src/Mvp24Hours.Infrastructure.Caching/Mvp24Hours.Infrastructure.Caching.csproj
  src/Mvp24Hours.Infrastructure.Caching/Providers/MultiLevelCache.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/GlobalUsings.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/HybridCacheTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Mvp24Hours.Infrastructure.Caching.Test.csproj
Labels: area: core, area: infrastructure, area: cache, area: tests, area: documentation, dependencies

Add output caching and problem details handling to the web API
  docs/en-us/_sidebar.md
  docs/en-us/modernization/keyed-services.md
  docs/en-us/modernization/output-caching.md
  docs/en-us/modernization/problem-details.md
  docs/pt-br/_sidebar.md
  docs/pt-br/modernization/keyed-services.md
  docs/pt-br/modernization/output-caching.md
  docs/pt-br/modernization/problem-details.md
  src/Mvp24Hours.Core.Test/Channels/ChannelTest.cs
  src/Mvp24Hours.Core/Extensions/KeyedServices/KeyedServiceExtensions.cs
  src/Mvp24Hours.Core/Extensions/KeyedServices/ServiceKeys.cs
  src/Mvp24Hours.WebAPI/Configuration/OutputCachingOptions.cs
  src/Mvp24Hours.WebAPI/Endpoints/TypedResultsExtensions.cs
  src/Mvp24Hours.WebAPI/Extensions/ApplicationBuilderExtensions.cs
  src/Mvp24Hours.WebAPI/Extensions/NativeProblemDetailsExtensions.cs
  src/Mvp24Hours.WebAPI/Extensions/OutputCachingExtensions.cs
  src/Mvp24Hours.WebAPI/Extensions/ServiceCollectionExtentions.cs
  src/Mvp24Hours.WebAPI/Mvp24Hours.WebAPI.csproj
  src/Tests/Mvp24Hours.Core.Test/KeyedServicesTest.cs
Labels: area: core, area: webapi, area: tests, area: documentation, dependencies

Add Minimal APIs section to documentation sidebar in English and Portuguese
  docs/en-us/_sidebar.md
  docs/en-us/modernization/minimal-apis.md
  docs/pt-br/_sidebar.md
  docs/pt-br/modernization/minimal-apis.md
  src/Mvp24Hours.WebAPI/Endpoints/Filters/NativeEndpointFilters.cs
  src/Mvp24Hours.WebAPI/Endpoints/NativeMinimalApiEndpointExtensions.cs
  src/Mvp24Hours.WebAPI/Endpoints/NativeTypedResultsExtensions.cs
Labels: area: webapi, area: documentation

Add Source Generators section to documentation sidebar in English and Portuguese
  docs/en-us/_sidebar.md
  docs/en-us/modernization/source-generators.md
  docs/pt-br/_sidebar.md
  docs/pt-br/modernization/source-generators.md
  src/Mvp24Hours.Core/Extensions/SourceGeneration/SourceGenerationServiceExtensions.cs
  src/Mvp24Hours.Core/Logging/CoreLoggerMessages.cs
  src/Mvp24Hours.Core/Mvp24Hours.Core.csproj
  src/Mvp24Hours.Core/Serialization/SourceGeneration/AotCompatibility.cs
  src/Mvp24Hours.Core/Serialization/SourceGeneration/Mvp24HoursJsonSerializerContext.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Logging/CqrsLoggerMessages.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Serialization/CqrsJsonSerializerContext.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Logging/EFCoreLoggerMessages.cs
  src/Mvp24Hours.Infrastructure.Pipe/Logging/PipelineLoggerMessages.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Core/Contract/Response.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Logging/RabbitMQLoggerMessages.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Serialization/RabbitMQJsonSerializerContext.cs
  src/Mvp24Hours.WebAPI/Logging/WebAPILoggerMessages.cs
Labels: area: core, area: infrastructure, area: efcore, area: rabbitmq, area: pipeline, area: webapi, area: documentation, dependencies

Add Native OpenAPI section to documentation sidebar in English and Portuguese, and update project dependencies for .NET 9 support
  docs/en-us/_sidebar.md
  docs/en-us/modernization/native-openapi.md
  docs/pt-br/_sidebar.md
  docs/pt-br/modernization/native-openapi.md
  src/Mvp24Hours.WebAPI/Configuration/NativeOpenApiOptions.cs
  src/Mvp24Hours.WebAPI/Extensions/NativeOpenApiApplicationBuilderExtensions.cs
  src/Mvp24Hours.WebAPI/Extensions/NativeOpenApiServiceExtensions.cs
  src/Mvp24Hours.WebAPI/Extensions/ServiceCollectionExtentions.cs
  src/Mvp24Hours.WebAPI/Mvp24Hours.WebAPI.csproj
  src/Mvp24Hours.WebAPI/OpenApi/OpenApiDocumentTransformers.cs
  src/Mvp24Hours.WebAPI/OpenApi/SecuritySchemeTransformer.cs
Labels: area: webapi, area: documentation, dependencies

Add overview and migration guide sections to documentation sidebar in English and Portuguese, and include OpenTelemetry package reference in project file
  docs/en-us/_sidebar.md
  docs/en-us/modernization/aspire.md
  docs/en-us/modernization/dotnet9-features.md
  docs/en-us/modernization/migration-guide.md
  docs/pt-br/_sidebar.md
  docs/pt-br/modernization/aspire.md
  docs/pt-br/modernization/dotnet9-features.md
  docs/pt-br/modernization/migration-guide.md
  src/Mvp24Hours.Core/Aspire/AspireComponentExtensions.cs
  src/Mvp24Hours.Core/Aspire/AspireHostingExtensions.cs
  src/Mvp24Hours.Core/Aspire/AspireOptions.cs
  src/Mvp24Hours.Core/Aspire/AspireServiceDefaults.cs
  src/Mvp24Hours.Core/Mvp24Hours.Core.csproj
Labels: area: core, area: documentation, dependencies

Enhance CronJob documentation and implementation
  docs/en-us/cronjob.md
  docs/pt-br/cronjob.md
  src/Mvp24Hours.Infrastructure.CronJob/Extensions/ScheduledServiceExtensions.cs
  src/Mvp24Hours.Infrastructure.CronJob/Interfaces/IScheduleConfig.cs
  src/Mvp24Hours.Infrastructure.CronJob/Mvp24Hours.Infrastructure.CronJob.csproj
  src/Mvp24Hours.Infrastructure.CronJob/ScheduleConfig.cs
Labels: area: infrastructure, area: cronjob, area: documentation, dependencies

Enhance CronJob resilience features and documentation
  docs/en-us/_sidebar.md
  docs/en-us/cronjob-resilience.md
  docs/en-us/cronjob.md
  docs/pt-br/_sidebar.md
  docs/pt-br/cronjob-resilience.md
  docs/pt-br/cronjob.md
  src/Mvp24Hours.Infrastructure.CronJob/Extensions/ScheduledServiceExtensions.cs
  src/Mvp24Hours.Infrastructure.CronJob/Interfaces/IResilientScheduleConfig.cs
  src/Mvp24Hours.Infrastructure.CronJob/Observability/CronJobActivitySource.cs
  src/Mvp24Hours.Infrastructure.CronJob/Resiliency/CronJobCircuitBreaker.cs
  src/Mvp24Hours.Infrastructure.CronJob/Resiliency/CronJobResilienceConfig.cs
  src/Mvp24Hours.Infrastructure.CronJob/Resiliency/ICronJobExecutionLock.cs
  src/Mvp24Hours.Infrastructure.CronJob/Resiliency/ICronJobResilienceConfig.cs
  src/Mvp24Hours.Infrastructure.CronJob/Resiliency/InMemoryCronJobExecutionLock.cs
  src/Mvp24Hours.Infrastructure.CronJob/ResilientScheduleConfig.cs
  src/Mvp24Hours.Infrastructure.CronJob/Services/ResilientCronJobService.cs
Labels: area: infrastructure, area: cronjob, area: documentation

Enhance CronJob observability features and documentation
  docs/en-us/_sidebar.md
  docs/en-us/cronjob-observability.md
  docs/en-us/cronjob-resilience.md
  docs/en-us/cronjob.md
  docs/pt-br/_sidebar.md
  docs/pt-br/cronjob-observability.md
  docs/pt-br/cronjob-resilience.md
  docs/pt-br/cronjob.md
  src/Mvp24Hours.Infrastructure.CronJob/Extensions/ScheduledServiceExtensions.cs
  src/Mvp24Hours.Infrastructure.CronJob/Observability/CronJobHealthCheck.cs
  src/Mvp24Hours.Infrastructure.CronJob/Observability/CronJobLoggerMessages.cs
  src/Mvp24Hours.Infrastructure.CronJob/Observability/CronJobMetricsService.cs
  src/Mvp24Hours.Infrastructure.CronJob/Observability/CronJobObservabilityExtensions.cs
  src/Mvp24Hours.Infrastructure.CronJob/Observability/ICronJobMetrics.cs
  src/Mvp24Hours.Infrastructure.CronJob/Services/CronJobService.cs
  src/Mvp24Hours.Infrastructure.CronJob/Services/ResilientCronJobService.cs
Labels: area: infrastructure, area: cronjob, area: documentation

.github/labeler.yml:

# Labeler configuration for automatic PR labeling

# Core
'area: core':
  - 'src/Mvp24Hours.Core/**/*'

# Application
'area: application':
  - 'src/Mvp24Hours.Application/**/*'

# Infrastructure
'area: infrastructure':
  - 'src/Mvp24Hours.Infrastructure/**/*'
  - 'src/Mvp24Hours.Infrastructure.*/**/*'

# Data - EF Core
'area: efcore':
  - 'src/Mvp24Hours.Infrastructure.Data.EFCore/**/*'

# Data - MongoDB
'area: mongodb':
  - 'src/Mvp24Hours.Infrastructure.Data.MongoDb/**/*'

# Caching
'area: cache':
  - 'src/Mvp24Hours.Infrastructure.Caching/**/*'
  - 'src/Mvp24Hours.Infrastructure.Caching.Redis/**/*'

# RabbitMQ
'area: rabbitmq':
  - 'src/Mvp24Hours.Infrastructure.RabbitMQ/**/*'

# Pipeline
'area: pipeline':
  - 'src/Mvp24Hours.Infrastructure.Pipe/**/*'

# CronJob
'area: cronjob':
  - 'src/Mvp24Hours.Infrastructure.CronJob/**/*'

# WebAPI
'area: webapi':
  - 'src/Mvp24Hours.WebAPI/**/*'

# Tests
'area: tests':
  - 'src/Tests/**/*'
  - '**/*.Test/**/*'

# Documentation
'area: documentation':
  - 'docs/**/*'
  - '**/*.md'
  - 'README.md'
  - 'CHANGELOG.md'
  - 'CONTRIBUTING.md'

# CI/CD
'area: ci-cd':
  - '.github/**/*'
  - '*.yml'
  - '*.yaml'

# Dependencies
'dependencies':
  - '**/packages.lock.json'
  - '**/*.csproj'
  - 'src/**/*.csproj'
