Repository kallebelins/mvp24hours-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: area: core, area: application, area: infrastructure, area: efcore, area: mongodb, area: cache, area: rabbitmq, area: pipeline, area: cronjob, area: webapi, area: tests, area: documentation, area: ci-cd, dependencies

.github/labeler.yml:

# Labeler configuration for automatic PR labeling

# Core
'area: core':
  - 'src/Mvp24Hours.Core/**/*'

# Application
'area: application':
  - 'src/Mvp24Hours.Application/**/*'

# Infrastructure
'area: infrastructure':
  - 'src/Mvp24Hours.Infrastructure/**/*'
  - 'src/Mvp24Hours.Infrastructure.*/**/*'

# Data - EF Core
'area: efcore':
  - 'src/Mvp24Hours.Infrastructure.Data.EFCore/**/*'

# Data - MongoDB
'area: mongodb':
  - 'src/Mvp24Hours.Infrastructure.Data.MongoDb/**/*'

# Caching
'area: cache':
  - 'src/Mvp24Hours.Infrastructure.Caching/**/*'
  - 'src/Mvp24Hours.Infrastructure.Caching.Redis/**/*'

# RabbitMQ
'area: rabbitmq':
  - 'src/Mvp24Hours.Infrastructure.RabbitMQ/**/*'

# Pipeline
'area: pipeline':
  - 'src/Mvp24Hours.Infrastructure.Pipe/**/*'

# CronJob
'area: cronjob':
  - 'src/Mvp24Hours.Infrastructure.CronJob/**/*'

# WebAPI
'area: webapi':
  - 'src/Mvp24Hours.WebAPI/**/*'

# Tests
'area: tests':
  - 'src/Tests/**/*'
  - '**/*.Test/**/*'

# Documentation
'area: documentation':
  - 'docs/**/*'
  - '**/*.md'
  - 'README.md'
  - 'CHANGELOG.md'
  - 'CONTRIBUTING.md'

# CI/CD
'area: ci-cd':
  - '.github/**/*'
  - '*.yml'
  - '*.yaml'

# Dependencies
'dependencies':
  - '**/packages.lock.json'
  - '**/*.csproj'
  - 'src/**/*.csproj'

Refactor saga state machine and update test methods for async compatibility
  src/Mvp24Hours.Infrastructure.RabbitMQ/Saga/SagaStateMachineConsumer.cs
  src/Mvp24Hours.WebAPI/Middlewares/ETagMiddleware.cs
  src/Tests/Mvp24Hours.Application.Test/TransactionScopeTest.cs
  src/Tests/Mvp24Hours.Core.Test/EnumerationTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/HybridCacheTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Support/TestAggregate.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Resiliency/MongoDbConnectionManagerTests.cs
Labels: area: infrastructure, area: rabbitmq, area: webapi, area: tests

Enhance CI security scan and update package references
  .github/workflows/ci.yml
  src/Directory.Packages.props
  src/Mvp24Hours.Core/Mvp24Hours.Core.csproj
  src/Mvp24Hours.Infrastructure/Mvp24Hours.Infrastructure.csproj
Labels: area: core, area: infrastructure, area: ci-cd, dependencies

Update .gitignore to exclude ad-hoc build error files and personal notes; remove obsolete build error files
  .gitignore
  build-webapi-errors.txt
  mongo-cs8625.txt
Labels: none

Refactor package references and comments for clarity
  src/Directory.Packages.props
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Mvp24Hours.Application.RabbitMQ.Test.csproj
Labels: area: tests, dependencies

[FIX] Test Core
  .github/workflows/ci.yml
  src/Mvp24Hours.Core/Contract/Data/Async/IRepositoryCacheAsync.cs
  src/Mvp24Hours.Core/Contract/Data/IRepositoryCache.cs
  src/Mvp24Hours.Core/Contract/Infrastructure/Caching/IMultiLevelCache.cs
  src/Mvp24Hours.Core/Extensions/Mapping/AutoMappingExtensions.cs
  src/Mvp24Hours.Core/ValueObjects/BaseVO.cs
  src/Mvp24Hours.Infrastructure.Caching/Repository/CacheableRepository.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Queries/PaginatedQuery.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Queries/SortedQuery.cs
  src/Mvp24Hours.Infrastructure.Pipe/PipelineBase.cs
  src/Mvp24Hours.Infrastructure.Pipe/Resiliency/PipelineResiliencyExtensions.cs
  src/Mvp24Hours.Infrastructure/Helpers/HttpPolicyHelper.cs
  src/Mvp24Hours.Infrastructure/Mvp24Hours.Infrastructure.csproj
  src/Tests/Mvp24Hours.Core.Test/ExtensionMethodsTest.cs
  tasks/tasks-net10-v1.md
Labels: area: core, area: infrastructure, area: cache, area: pipeline, area: tests, area: documentation, area: ci-cd, dependencies

Update CHANGELOG.md for .NET 10 migration and adjust test service initialization
  CHANGELOG.md
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Test3CommandService.cs
  tasks/tasks-net10-v1.md
Labels: area: tests, area: documentation

Remove obsolete baseline and decision files for .NET 10 migration
  tasks/baseline-net10-v1.json
  tasks/baseline-net10-v1.md
  tasks/cpm-decision-net10-v1.json
  tasks/cpm-decision-net10-v1.md
  tasks/format-verify-net10-v1.md
  tasks/gate-treatwarningsaserrors-net10-v1.md
  tasks/inventory-nullable-net10-v1.json
  tasks/inventory-nullable-net10-v1.md
  tasks/inventory-tfm-langversion-net10-v1.json
  tasks/inventory-tfm-langversion-net10-v1.md
  tasks/nu1510-redundant-packages-net10-v1.md
  tasks/nu1903-cryptography-xml-net10-v1.md
  tasks/phase10-gate-treatwarningsaserrors-net10-v1.md
  tasks/repo-hygiene-artifacts-net10-v1.md
  tasks/security-scan-dependency-review-net10-v1.md
  tasks/tasks-net10-warnings.md
  tasks/test-category-traits-net10-v1.md
  tasks/test-final-report-net10-v1.json
  tasks/test-final-report-net10-v1.md
  tasks/test-integration-run-net10-v1.json
  tasks/test-integration-run-net10-v1.md
  tasks/test-inventory-net10-v1.md
  tasks/test-unit-run-net10-v1.json
  tasks/test-unit-run-net10-v1.md
Labels: area: documentation

Refactor database connection handling and logging improvements
  src/Directory.Build.props
  src/Directory.Packages.props
  src/Mvp24Hours.Infrastructure.Data.EFCore/Extensions/DatabaseExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Extensions/ResilienceDbContextExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/HealthChecks/SqlServerHealthCheck.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Logging/EFCoreLoggerMessages.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Mvp24Hours.Infrastructure.Data.EFCore.csproj
  src/Mvp24Hours.Infrastructure.Data.EFCore/Resilience/MvpExecutionStrategy.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Security/RowLevelSecurityHelper.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Async/BulkOperationsRepositoryAsync.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Async/RepositoryAsync.cs
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Security/MongoDbAuthenticationOptions.cs
  src/Mvp24Hours.Infrastructure.Pipe/Logging/PipelineLoggerMessages.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Logging/RabbitMQLoggerMessages.cs
  src/Mvp24Hours.WebAPI/Extensions/ServiceCollectionExtentions.cs
  src/Mvp24Hours.WebAPI/Logging/WebAPILoggerMessages.cs
  src/Tests/Mvp24Hours.Core.Test/Helpers/StringHelperTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Resiliency/MongoDbResiliencyPolicyTests.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Resiliency/NativeMongoDbResilienceExtensionsTests.cs
  tasks/tasks-net10-warnings.md
Labels: area: infrastructure, area: efcore, area: mongodb, area: rabbitmq, area: pipeline, area: webapi, area: tests, area: documentation, dependencies

Enhance nullable reference type support across multiple files
  src/Mvp24Hours.Infrastructure.Data.EFCore/Async/ReadOnlyRepositoryAsync.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Async/RepositoryAsync.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Async/UnitOfWorkAsync.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Async/UnitOfWorkWithEventsAsync.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Converters/EncryptedValueConverters.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Extensions/DatabaseExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Mvp24HoursContext.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/ReadOnlyRepository.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Repository.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/UnitOfWork.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/UnitOfWorkWithEvents.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Configuration/RabbitMQConnectionOptions.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Configuration/RabbitMQHostedOptions.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Configuration/RabbitMQOptions.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/Hosted/MvpRabbitMQHostedService.cs
  src/Mvp24Hours.Infrastructure.RabbitMQ/MvpRabbitMQConnection.cs
  src/Mvp24Hours.WebAPI/Binders/ModelBinder.cs
  src/Mvp24Hours.WebAPI/Configuration/CorsOptions.cs
  src/Mvp24Hours.WebAPI/Middlewares/CorsMiddleware.cs
  tasks/tasks-net10-warnings.md
  tasks/warnings-baseline-v2.json
Labels: area: infrastructure, area: efcore, area: rabbitmq, area: webapi, area: documentation

Enhance nullable reference type handling in ObjectHelper and PaginatedQuery
  src/Mvp24Hours.Core/Helpers/ObjectHelper.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Queries/PaginatedQuery.cs
  tasks/tasks-net10-warnings.md
  tasks/warnings-baseline-v2.json
Labels: area: core, area: infrastructure, area: documentation

Enhance nullable reference type handling across multiple files
  src/Mvp24Hours.Core/Domain/Enumerations/Enumeration.cs
  src/Mvp24Hours.Core/Extensions/ConvertExtensions.cs
  src/Mvp24Hours.Core/Extensions/EnumerableExtensions.cs
  src/Mvp24Hours.Core/Extensions/GuidExtensions.cs
  src/Mvp24Hours.Core/Extensions/StringExtensions.cs
  src/Mvp24Hours.Core/Helpers/JsonHelper.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Setup/Startup.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Setup/StartupAsync.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Support/Entities/BasicLogs/ContactBasicLog.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Support/Entities/BasicLogs/CustomerBasicLog.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Support/Entities/Basics/ContactBasic.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Support/Entities/Basics/CustomerBasic.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Support/Entities/Contact.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Support/Entities/Customer.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Test1BasicLogService.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Test1BasicService.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Test1LogService.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Test1QueryService.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Test2QueryServiceAsync.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Test3CommandService.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Test4CommandServiceAsync.cs
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Test8SpecificationPattern.cs
  src/Tests/Mvp24Hours.Core.Test/EntityIdTest.cs
  src/Tests/Mvp24Hours.Core.Test/Helpers/JsonHelperTest.cs
  src/Tests/Mvp24Hours.Core.Test/Helpers/ObjectHelperTest.cs
  tasks/tasks-net10-warnings.md
  tasks/warnings-baseline-v2.json
Labels: area: core, area: tests, area: documentation

Refactor test files to enhance nullable reference type handling
  src/Tests/Mvp24Hours.Application.Integration.Test/RepositoryServiceIntegrationTest.cs
  src/Tests/Mvp24Hours.Application.MongoDb.Test/CommandServiceTest.cs
  src/Tests/Mvp24Hours.Application.MongoDb.Test/QueryServiceTest.cs
  src/Tests/Mvp24Hours.Application.MongoDb.Test/Support/Entities/Contact.cs
  src/Tests/Mvp24Hours.Application.MongoDb.Test/Support/Entities/Customer.cs
  src/Tests/Mvp24Hours.Application.MySql.Test/Setup/Startup.cs
  src/Tests/Mvp24Hours.Application.MySql.Test/Setup/StartupAsync.cs
  src/Tests/Mvp24Hours.Application.MySql.Test/Support/Entities/Contact.cs
  src/Tests/Mvp24Hours.Application.MySql.Test/Support/Entities/Customer.cs
  src/Tests/Mvp24Hours.Application.MySql.Test/Test1QueryService.cs
  src/Tests/Mvp24Hours.Application.MySql.Test/Test2QueryServiceAsync.cs
  src/Tests/Mvp24Hours.Application.MySql.Test/Test3CommandService.cs
  src/Tests/Mvp24Hours.Application.MySql.Test/Test4CommandServiceAsync.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/PipelineTest.cs
  src/Tests/Mvp24Hours.Application.PostgreSql.Test/Setup/Startup.cs
  src/Tests/Mvp24Hours.Application.PostgreSql.Test/Setup/StartupAsync.cs
  src/Tests/Mvp24Hours.Application.PostgreSql.Test/Support/Entities/Contact.cs
  src/Tests/Mvp24Hours.Application.PostgreSql.Test/Support/Entities/Customer.cs
  src/Tests/Mvp24Hours.Application.PostgreSql.Test/Test1QueryService.cs
  src/Tests/Mvp24Hours.Application.PostgreSql.Test/Test2QueryServiceAsync.cs
  src/Tests/Mvp24Hours.Application.PostgreSql.Test/Test3CommandService.cs
  src/Tests/Mvp24Hours.Application.PostgreSql.Test/Test4CommandServiceAsync.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Support/ValueObjects/CustomerEvent.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Test1RabbitMQ.cs
  src/Tests/Mvp24Hours.Application.Redis.Test/Setup/Startup.cs
  src/Tests/Mvp24Hours.Application.Redis.Test/Support/Entities/Customer.cs
  src/Tests/Mvp24Hours.Application.Redis.Test/Test1CacheTest.cs
  src/Tests/Mvp24Hours.Application.Redis.Test/Test2CacheAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Redis.Test/Test3CacheRepositoryTest.cs
  src/Tests/Mvp24Hours.Application.Redis.Test/Test4CacheRepositoryAsyncTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/SpecificationTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Support/CronJobs/CustomerCronJob.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Support/Testing/TestCronJobService.cs
  src/Tests/Mvp24Hours.Patterns.Test/Setup/Startup.cs
  src/Tests/Mvp24Hours.Patterns.Test/WebRequestTest.cs
  tasks/tasks-net10-warnings.md
  tasks/warnings-baseline-v2.json
Labels: area: tests, area: documentation

Atualizar CHANGELOG.md e finalizar a dívida da v1 após migração para .NET 10
  CHANGELOG.md
  src/Tests/Mvp24Hours.Application.MySql.Test/Mvp24Hours.Application.MySql.Test.csproj
  src/Tests/Mvp24Hours.Application.PostgreSql.Test/Mvp24Hours.Application.PostgreSql.Test.csproj
  src/Tests/Mvp24Hours.Application.SQLServer.Test/Mvp24Hours.Application.SQLServer.Test.csproj
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Support/CronJobs/TestResilientCronJob.cs
  tasks/tasks-net10-v1.md
  tasks/tasks-net10-warnings.md
Labels: area: tests, area: documentation, dependencies

Refactor test organization and enhance middleware testing capabilities
  src/Tests/Mvp24Hours.WebAPI.Test/ApplicationBuilderTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Binders/BindersTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Configuration/ConfigurationOptionsTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/ContentNegotiation/ContentNegotiationTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Endpoints/EndpointsTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Exceptions/ExceptionMappersTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Extensions/ExtensionsSmokeTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Filters/FiltersTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Filters/SwaggerFiltersTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/GlobalUsings.cs
  src/Tests/Mvp24Hours.WebAPI.Test/HealthChecks/HealthChecksTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Http/CorrelationIdHandlerTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Idempotency/IdempotencyTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Middlewares/MiddlewaresTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Mvp24Hours.WebAPI.Test.csproj
  src/Tests/Mvp24Hours.WebAPI.Test/OpenApi/OpenApiTransformersTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/RateLimiting/RateLimitingTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Services/DefaultRequestLoggerTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Support/WebApiTestHelpers.cs
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation, dependencies

Enhance RabbitMQ test coverage and update project dependencies
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Configuration/ConfigurationTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Consumers/ConsumersTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Core/CoreContractTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/GlobalUsings.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Hosted/HostedTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/MultiTenancy/MultiTenancyTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Mvp24Hours.Application.RabbitMQ.Test.csproj
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/MvpRabbitMQClientTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Observability/ObservabilityTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Pipeline/PipelineFiltersTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/RequestResponse/RequestResponseTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Saga/SagaTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Scheduling/SchedulingTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Serialization/SerializationTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Support/RabbitMQTestHelpers.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Support/TestMessages.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Testing/TestingInfrastructureTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Topology/TopologyTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Transactional/TransactionalTest.cs
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation, dependencies

Enhance test coverage and project dependencies for Mvp24Hours.Application.Test
  src/Tests/Mvp24Hours.Application.Test/GlobalUsings.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Async/BulkCommandServiceWithDtoBaseAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Async/BulkCommandServiceWithSeparateDtosBaseAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Async/CommandServiceBaseAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Async/QueryServiceBaseAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Async/RepositoryPagingServiceAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Async/RepositoryServiceAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Cache/CacheInvalidatorTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Cache/CacheableApplicationServiceBaseAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Cache/CacheableQueryServiceBaseAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Cache/QueryCacheKeyGeneratorTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Cache/QueryCacheProviderTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Events/ApplicationEventDispatcherTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Events/EventAwareCommandServiceBaseAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Events/InMemoryApplicationEventOutboxTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Events/MediatorApplicationEventAdapterTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Observability/ApplicationActivitySourceTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Observability/ApplicationOperationMetricsTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Observability/CorrelationIdAccessorTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Observability/InMemoryApplicationAuditStoreTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Resilience/DefaultErrorMessageLocalizerTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Resilience/ResultMessageTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Validation/CustomValidationStepTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Validation/DataAnnotationValidationStepTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Validation/ValidationPipelineTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Validation/ValidationServiceTest.cs
  src/Tests/Mvp24Hours.Application.Test/Mvp24Hours.Application.Test.csproj
  src/Tests/Mvp24Hours.Application.Test/Support/ApplicationTestHelpers.cs
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation, dependencies

Enhance test coverage and project dependencies for Mvp24Hours.Application.Pipe.Test
  src/Tests/Mvp24Hours.Application.Pipe.Test/AdvancedFlow/Checkpoint/InMemoryCheckpointStoreTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/AdvancedFlow/DependencyGraph/DependencyGraphTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/AdvancedFlow/Priority/PriorityPipelineTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/AdvancedFlow/Saga/PipelineSagaOrchestratorTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Builders/ParallelOperationBuilderTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/ExceptionMapping/DefaultPipelineExceptionMapperTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/GlobalUsings.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Middleware/MiddlewareTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Mvp24Hours.Application.Pipe.Test.csproj
  src/Tests/Mvp24Hours.Application.Pipe.Test/Observability/ObservabilityTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Resiliency/ResiliencyMiddlewareTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Support/PipeTestCollection.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Support/PipeTestHelpers.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Typed/TypedPipelineTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Validation/DefaultPipelineValidatorTest.cs
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation, dependencies

Enhance test coverage and project dependencies for Mvp24Hours.Infrastructure.Caching.Test
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Compression/CompressionTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/EFCore/EfCoreCacheInterceptorTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/GlobalUsings.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Invalidation/InvalidationTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Mvp24Hours.Infrastructure.Caching.Test.csproj
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Observability/ObservabilityTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Patterns/PatternsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Prefetching/PrefetchingTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Providers/ProvidersTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Repository/CacheableRepositoryTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Resilience/ResilienceTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Serializers/SerializersTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Support/CacheTestHelpers.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Synchronization/SynchronizationTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Warming/WarmingTest.cs
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation, dependencies

Enhance test coverage and project dependencies for Mvp24Hours.Infrastructure.Cqrs.Test
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/AdvancedBehaviorsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/EventSourcing/EventSourcingAdvancedTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Messaging/MessagingProcessorsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Mvp24Hours.Infrastructure.Cqrs.Test.csproj
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/NotificationPublishersTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Projections/ProjectionsAdvancedTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Support/BehaviorTestTypes.cs
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation, dependencies

Enhance test coverage and project dependencies for Mvp24Hours.Infrastructure.Data.MongoDb.Test
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Advanced/TextSearch/MongoDbTextSearchService.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Configuration/CronJobConfigurationExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Configuration/CronJobGlobalOptionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Context/CronJobContextAccessorTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Context/CronJobContextTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Control/CronJobControllerTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Dependencies/CronJobDependencyTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Events/CronJobEventDispatcherTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Extensions/CronJobExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Mvp24Hours.Infrastructure.CronJob.Test.csproj
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Scheduling/CronExpressionParserTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Services/AdvancedCronJobServiceTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/State/InMemoryCronJobStateStoreTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Support/CronJobTestHelpers.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Support/CronJobs/TestAdvancedCronJob.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Support/RecordingCronJobEventHandler.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Advanced/AdvancedServicesTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Advanced/ShardingServiceTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/GlobalUsings.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Interceptors/InterceptorsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Mvp24Hours.Infrastructure.Data.MongoDb.Test.csproj
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Observability/ObservabilityTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Performance/PerformanceTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Security/SecurityTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Support/MongoDbIntegrationCollection.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Support/MongoDbIntegrationFixture.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Support/MongoDbTestEntities.cs
  tasks/tasks-net10-tests.md
Labels: area: infrastructure, area: mongodb, area: tests, area: documentation, dependencies

Enhance test coverage for Mvp24Hours.Core with comprehensive unit tests
  src/Tests/Mvp24Hours.Core.Test/Contract/ContractTypesTest.cs
  src/Tests/Mvp24Hours.Core.Test/Domain/EntityBaseTest.cs
  src/Tests/Mvp24Hours.Core.Test/Domain/SpecificationTest.cs
  src/Tests/Mvp24Hours.Core.Test/Exceptions/ExceptionsTest.cs
  src/Tests/Mvp24Hours.Core.Test/Infrastructure/ChannelsTest.cs
  src/Tests/Mvp24Hours.Core.Test/Infrastructure/InfrastructureServicesTest.cs
  src/Tests/Mvp24Hours.Core.Test/Serialization/SerializationTest.cs
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation

Enhance test coverage and CI integration for Mvp24Hours project
  .github/workflows/ci.yml
  CHANGELOG.md
  coverlet.runsettings
  scripts/check-coverage-gate.ps1
  scripts/generate-coverage-final-json.ps1
  src/Tests/Directory.Build.props
  tasks/coverage-delta-tests.md
  tasks/coverage-final-tests.json
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation, area: ci-cd

Enhance test coverage for RabbitMQ components in Mvp24Hours project
  src/Tests/Mvp24Hours.Application.MongoDb.Test/Advanced/AdvancedOptionsTest.cs
  src/Tests/Mvp24Hours.Application.MongoDb.Test/CommandServiceAsyncTest.cs
  src/Tests/Mvp24Hours.Application.MongoDb.Test/Configuration/ConfigurationTest.cs
  src/Tests/Mvp24Hours.Application.MongoDb.Test/Geospatial/GeospatialTest.cs
  src/Tests/Mvp24Hours.Application.MongoDb.Test/Infrastructure/MigrationHistoryTest.cs
  src/Tests/Mvp24Hours.Application.MongoDb.Test/Performance/PerformanceAttributesTest.cs
  src/Tests/Mvp24Hours.Application.MongoDb.Test/Resiliency/ResiliencyTest.cs
  src/Tests/Mvp24Hours.Application.MongoDb.Test/Security/SecurityTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Channels/ChannelBatchProcessorTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Configuration/ConfigurationTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Configuration/Fluent/FluentBuildersTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Deduplication/DeduplicationTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Exceptions/ExceptionsTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Messages/MessagesTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/MultiTenancy/MultiTenancyTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Observability/ObservabilityTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Pipeline/PipelineFiltersTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Saga/SagaTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Serialization/SerializationTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Testing/TestingInfrastructureTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Topology/TopologyTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Transactional/TransactionalTest.cs
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation

Implement CreatePagingModelBindingContext method in WebApiTestHelpers and enhance test coverage for model binding
  src/Tests/Mvp24Hours.WebAPI.Test/Authentication/AuthenticationTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Binders/BindersExtendedTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Configuration/MoreConfigurationOptionsTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Middlewares/IdempotencyMiddlewareTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Middlewares/MoreMiddlewaresTest.cs
  src/Tests/Mvp24Hours.WebAPI.Test/Support/WebApiTestHelpers.cs
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation

Expand test coverage for Mvp24Hours.Infrastructure.Pipe, achieving 90% line coverage
  src/Tests/Mvp24Hours.Application.Pipe.Test/AdvancedFlow/ForkJoin/ForkJoinOperationTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Configuration/PipelineOptionsTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Context/PipelineContextTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Extensions/PipelineMessageExtensionsTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Operations/Branch/ConditionalBranchOperationTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Operations/Custom/OperationCustomTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Operations/Parallel/ParallelOperationGroupTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/PipelineMessageTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Typed/OperationChainTest.cs
  src/Tests/Mvp24Hours.Application.Pipe.Test/Typed/OperationResultTest.cs
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation

Update test tasks in tasks-net10-tests.md to reflect completion of multiple test phases
  src/Tests/Mvp24Hours.Core.Test/Aspire/AspireOptionsTest.cs
  src/Tests/Mvp24Hours.Core.Test/Contract/CacheEntryOptionsTest.cs
  src/Tests/Mvp24Hours.Core.Test/Contract/ServiceAttributesTest.cs
  src/Tests/Mvp24Hours.Core.Test/Serialization/EntityIdJsonConvertersTest.cs
  src/Tests/Mvp24Hours.Core.Test/ValueObjects/LogicValueObjectsTest.cs
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation

Update tasks-net10-tests.md to reflect completion of test phases 18.2, 18.4, 18.7, 18.8, and 18.9
  src/Tests/Mvp24Hours.Core.Test/Contract/BulkOperationsContractTest.cs
  src/Tests/Mvp24Hours.Core.Test/Contract/PipeOptionsContractTest.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/AdvancedExtensionsTest.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/ValidationExtensionsTest.cs
  src/Tests/Mvp24Hours.Core.Test/Helpers/HelpersAdvancedTest.cs
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation

Enhance EFCore test coverage and update package dependencies
  src/Directory.Packages.props
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Configuration/EFCoreRepositoryOptionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Configuration/EFCoreResilienceOptionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Extensions/BulkOperationsExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Extensions/CompiledQueryExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Extensions/DatabaseExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Extensions/EFCoreCqrsIntegrationExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Extensions/EFCoreObservabilityExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Extensions/EFCoreServiceExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Extensions/EntityIdModelBuilderExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Extensions/ModelBuilderExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Extensions/ProjectionExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Extensions/QueryPerformanceExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Extensions/QueryTimeoutExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Extensions/QueryTrackingExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Extensions/ResilienceDbContextExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Extensions/TenantModelBuilderExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/HealthChecks/DbContextHealthCheckOptionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/HealthChecks/DbContextHealthCheckTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/HealthChecks/HealthCheckExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/HealthChecks/MySqlHealthCheckTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/HealthChecks/PostgreSqlHealthCheckTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/HealthChecks/SqlServerHealthCheckTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Logging/EFCoreLoggerMessagesTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Mvp24Hours.Infrastructure.Data.EFCore.Test.csproj
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Mvp24HoursContextTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Observability/EFCoreActivitySourceTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Observability/EFCoreDiagnosticsListenerTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Observability/EFCoreMetricsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/RepositoryBaseTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Security/RowLevelSecurityHelperTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/Support/TestEntities.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/UnitOfWorkAsyncTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.EFCore.Test/UnitOfWorkTest.cs
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation, dependencies

Add new test services and enhance ApplicationTestHelpers for improved coverage
  src/Tests/Mvp24Hours.Application.Test/Contract/CacheAttributesTest.cs
  src/Tests/Mvp24Hours.Application.Test/Contract/ErrorCodesAndResultStatusCodeTest.cs
  src/Tests/Mvp24Hours.Application.Test/Contract/TransactionalAttributeTest.cs
  src/Tests/Mvp24Hours.Application.Test/Extensions/ApplicationModuleServiceCollectionExtensionsTest.cs
  src/Tests/Mvp24Hours.Application.Test/Extensions/ApplicationServiceCollectionExtensionsTest.cs
  src/Tests/Mvp24Hours.Application.Test/Extensions/PaginationServiceCollectionExtensionsTest.cs
  src/Tests/Mvp24Hours.Application.Test/Extensions/ResilienceServiceCollectionExtensionsTest.cs
  src/Tests/Mvp24Hours.Application.Test/Extensions/TransactionServiceCollectionExtensionsTest.cs
  src/Tests/Mvp24Hours.Application.Test/Extensions/ValidationServiceCollectionExtensionsTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/ApplicationServiceBaseTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/ApplicationServiceBaseWithDtoTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/ApplicationServiceBaseWithSeparateDtosTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Async/ApplicationServiceBaseAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Async/ApplicationServiceBaseWithDtoAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Async/ApplicationServiceBaseWithSeparateDtosAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/CommandServiceBaseTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/QueryServiceBaseTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/RepositoryPagingServiceTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/RepositoryServiceTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Validation/CascadeValidationStepTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Validation/FluentValidationStepTest.cs
  src/Tests/Mvp24Hours.Application.Test/Logic/Validation/NullCheckValidationStepTest.cs
  src/Tests/Mvp24Hours.Application.Test/Pagination/PagedBusinessResultTest.cs
  src/Tests/Mvp24Hours.Application.Test/Support/ApplicationTestHelpers.cs
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation

Add reference to Caching.Redis in Caching.Test project and update test documentation
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Extensions/RedisServiceExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Mvp24Hours.Infrastructure.Caching.Test.csproj
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation, dependencies

Update tasks-net10-tests.md to reflect completion of test phases 22.1 to 22.4 for caching components
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Distributed/DistributedCacheTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Extensions/CachingExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Locking/CacheLockingTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Caching.Test/Tags/CacheTagsTest.cs
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation

Update tasks-net10-tests.md to reflect completion of test phases 24.1 to 24.4 for CQRS components
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Dispatchers/DomainEventDispatcherAdvancedTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Dispatchers/DomainEventExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Extensions/DomainToIntegrationEventExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Extensions/InboxOutboxExtensionsAdvancedTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Extensions/MediatorCachingExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Extensions/ServiceCollectionExtensionsAdvancedTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Handlers/LoggingBehaviorTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Handlers/MediatorHandlerRegistrationTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Support/Phase24TestHelpers.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Validators/ValidationBehaviorTest.cs
  tasks/tasks-net10-tests.md
Labels: area: tests, area: documentation

Refactor CronJob tests for improved clarity and functionality
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/CronJobTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Extensions/CronJobExtensionsAdvancedTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Resiliency/InMemoryDistributedCronJobLockTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Services/CronJobServiceAdvancedTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Services/ResilientAndAdvancedServiceAdvancedTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/State/CronJobStateAdvancedTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Support/CronJobs/ControllableCronJob.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Support/CronJobs/TestAdvancedCronJob.cs
Labels: area: tests

Update tasks-net10-tests.md to reflect completion of test phases 25.1 to 25.4 for CronJob components
  tasks/ado-controle-feature-87242.md
  tasks/tasks-net10-tests.md
Labels: area: documentation

Update .gitignore and remove obsolete task files
  .gitignore
  tasks/ado-controle-feature-87242.md
  tasks/classes-without-tests.md
  tasks/classes-without-tests.raw.json
  tasks/coverage-baseline-tests.json
  tasks/coverage-delta-tests.md
  tasks/coverage-final-tests.json
  tasks/tasks-net10-tests.md
  tasks/tasks-net10-v1.md
  tasks/tasks-net10-warnings.md
  tasks/warnings-baseline-v2.json
Labels: area: documentation

Add Microsoft.AspNetCore.Authentication.JwtBearer package and include Keycloak project in solutions
  src/Directory.Packages.props
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Application/Logic/KeycloakService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Contract/Infrastructure/Placeholder.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Contract/Logic/IUserKeycloakService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Options/KeycloakAdminOptions.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Options/KeycloakAuthorizationOptions.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Options/KeycloakOptions.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Options/KeycloakPolicyEnforcementMode.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Admin/Placeholder.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authentication/AccessTokenResponse.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authentication/ClientCredentialsTokenRequest.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authentication/KeycloakClaimTypes.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authentication/KeycloakRolesClaimsTransformation.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authorization/Decision/DecisionRequirement.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authorization/Decision/DecisionRequirementHandler.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authorization/RPT/RptRequirement.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authorization/RPT/RptRequirementHandler.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authorization/Resource.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authorization/UserToken.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Infrastructure/Clients/TokenClient.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Infrastructure/Extensions/KeycloakHttpContextExtensions.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Mvp24Hours.Infrastructure.Identity.Keycloak.csproj
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/WebAPI/Extensions/KeycloakExtensions.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/WebAPI/Filters/Placeholder.cs
  src/Mvp24Hours.sln
  src/Mvp24HoursWithPOCs.sln
Labels: area: infrastructure, dependencies

Refactor Keycloak integration and enhance user token handling
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Application/Logic/KeycloakGroupService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Application/Logic/KeycloakJwtTokenParser.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Application/Logic/KeycloakRoleService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Application/Logic/KeycloakTokenService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Application/Logic/KeycloakUserService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Application/Logic/UserKeycloakSyncService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Contract/Infrastructure/IKeycloakDiscoveryService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Contract/Infrastructure/IKeycloakJwtTokenParser.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Contract/Infrastructure/Placeholder.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Contract/Logic/IKeycloakGroupService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Contract/Logic/IKeycloakRoleService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Contract/Logic/IKeycloakTokenService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Contract/Logic/IKeycloakUserService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Contract/Logic/IUserKeycloakService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Options/KeycloakOptions.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Admin/ClientRepresentation.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Admin/CredentialRepresentation.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Admin/GroupRepresentation.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Admin/KeycloakErrorResponse.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Admin/Placeholder.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Admin/Requests/AddUserToGroupRequest.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Admin/Requests/AssignRolesRequest.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Admin/Requests/CreateClientRequest.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Admin/Requests/CreateGroupRequest.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Admin/Requests/CreateUserRequest.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Admin/Requests/ResetPasswordRequest.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Admin/Requests/UpdateUserRequest.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Admin/RoleRepresentation.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Admin/UserRepresentation.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authentication/KeycloakRolesClaimsTransformation.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authentication/OpenIdConnectConfigurationDocument.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authentication/TokenIntrospectionResponse.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authorization/UserToken.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Infrastructure/Clients/KeycloakAdminBearerDelegatingHandler.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Infrastructure/Clients/KeycloakAdminHttpClient.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Infrastructure/Clients/KeycloakDiscoveryService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Infrastructure/Clients/KeycloakTokenClient.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Infrastructure/Extensions/KeycloakHttpContextExtensions.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/WebAPI/Extensions/KeycloakExtensions.cs
Labels: area: infrastructure

Refactor Keycloak authorization handlers and improve token management
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Application/Logic/KeycloakCurrentUser.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Contract/Logic/IKeycloakCurrentUser.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authorization/Decision/DecisionRequirementHandler.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authorization/KeycloakHttpContextKeys.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authorization/RPT/RptRequirementHandler.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/HealthChecks/KeycloakHealthCheck.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/HealthChecks/KeycloakHealthCheckExtensions.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Infrastructure/Clients/KeycloakAdminBearerDelegatingHandler.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Infrastructure/Extensions/KeycloakHttpContextExtensions.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/WebAPI/Extensions/KeycloakApplicationBuilderExtensions.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/WebAPI/Extensions/KeycloakExtensions.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/WebAPI/Middlewares/KeycloakCurrentUserMiddleware.cs
Labels: area: infrastructure

Add Keycloak testing project and update package references
  src/Directory.Packages.props
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/ValueObjects/Authentication/KeycloakRolesClaimsTransformation.cs
  src/Mvp24Hours.sln
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Fixtures/KeycloakCollection.cs
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Fixtures/KeycloakFixture.cs
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Fixtures/KeycloakTestConstants.cs
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Fixtures/test-realm.json
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/GlobalUsings.cs
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Integration/AdminUserIntegrationTests.cs
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Integration/AuthenticationIntegrationTests.cs
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Integration/AuthorizationIntegrationTests.cs
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Integration/RolesAndGroupsIntegrationTests.cs
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Integration/UserSyncIntegrationTests.cs
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Mvp24Hours.Infrastructure.Identity.Keycloak.Test.csproj
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Unit/KeycloakClaimsTransformationTests.cs
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Unit/KeycloakHttpClientsTests.cs
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Unit/KeycloakJwtTokenParserTests.cs
  src/Tests/Mvp24Hours.Infrastructure.Identity.Keycloak.Test/Unit/KeycloakOptionsTests.cs
Labels: area: infrastructure, area: tests, dependencies

Enhance Keycloak integration and documentation
  docs/_sidebar.md
  docs/en-us/_sidebar.md
  docs/en-us/configuration-reference.md
  docs/en-us/getting-started.md
  docs/en-us/identity/keycloak.md
  docs/en-us/infrastructure/health-checks.md
  docs/en-us/infrastructure/home.md
  docs/en-us/webapi-advanced.md
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Contract/Infrastructure/IKeycloakDiscoveryService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Contract/Logic/IKeycloakCurrentUser.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Contract/Logic/IKeycloakGroupService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Contract/Logic/IKeycloakRoleService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Contract/Logic/IKeycloakTokenService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Contract/Logic/IKeycloakUserService.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Options/KeycloakAdminOptions.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Options/KeycloakAuthorizationOptions.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Options/KeycloakOptions.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Core/Options/KeycloakPolicyEnforcementMode.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/HealthChecks/KeycloakHealthCheckExtensions.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Infrastructure/Extensions/KeycloakHttpContextExtensions.cs
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/Mvp24Hours.Infrastructure.Identity.Keycloak.csproj
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/README.md
  src/Mvp24Hours.Infrastructure.Identity.Keycloak/WebAPI/Extensions/KeycloakExtensions.cs
Labels: area: infrastructure, area: documentation, dependencies
