Repository kallebelins/mvp24hours-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: area: core, area: application, area: infrastructure, area: efcore, area: mongodb, area: cache, area: rabbitmq, area: pipeline, area: cronjob, area: webapi, area: tests, area: documentation, area: ci-cd, dependencies

.github/labeler.yml:

# Labeler configuration for automatic PR labeling

# Core
'area: core':
  - 'src/Mvp24Hours.Core/**/*'

# Application
'area: application':
  - 'src/Mvp24Hours.Application/**/*'

# Infrastructure
'area: infrastructure':
  - 'src/Mvp24Hours.Infrastructure/**/*'
  - 'src/Mvp24Hours.Infrastructure.*/**/*'

# Data - EF Core
'area: efcore':
  - 'src/Mvp24Hours.Infrastructure.Data.EFCore/**/*'

# Data - MongoDB
'area: mongodb':
  - 'src/Mvp24Hours.Infrastructure.Data.MongoDb/**/*'

# Caching
'area: cache':
  - 'src/Mvp24Hours.Infrastructure.Caching/**/*'
  - 'src/Mvp24Hours.Infrastructure.Caching.Redis/**/*'

# RabbitMQ
'area: rabbitmq':
  - 'src/Mvp24Hours.Infrastructure.RabbitMQ/**/*'

# Pipeline
'area: pipeline':
  - 'src/Mvp24Hours.Infrastructure.Pipe/**/*'

# CronJob
'area: cronjob':
  - 'src/Mvp24Hours.Infrastructure.CronJob/**/*'

# WebAPI
'area: webapi':
  - 'src/Mvp24Hours.WebAPI/**/*'

# Tests
'area: tests':
  - 'src/Tests/**/*'
  - '**/*.Test/**/*'

# Documentation
'area: documentation':
  - 'docs/**/*'
  - '**/*.md'
  - 'README.md'
  - 'CHANGELOG.md'
  - 'CONTRIBUTING.md'

# CI/CD
'area: ci-cd':
  - '.github/**/*'
  - '*.yml'
  - '*.yaml'

# Dependencies
'dependencies':
  - '**/packages.lock.json'
  - '**/*.csproj'
  - 'src/**/*.csproj'

Add advanced CronJob service extensions with full feature support
  src/Mvp24Hours.Infrastructure.CronJob/Context/CronJobContext.cs
  src/Mvp24Hours.Infrastructure.CronJob/Context/CronJobContextAccessor.cs
  src/Mvp24Hours.Infrastructure.CronJob/Context/ICronJobContext.cs
  src/Mvp24Hours.Infrastructure.CronJob/Control/CronJobController.cs
  src/Mvp24Hours.Infrastructure.CronJob/Control/ICronJobController.cs
  src/Mvp24Hours.Infrastructure.CronJob/Dependencies/ICronJobDependency.cs
  src/Mvp24Hours.Infrastructure.CronJob/Dependencies/InMemoryCronJobDependencyTracker.cs
  src/Mvp24Hours.Infrastructure.CronJob/Events/CronJobEventDispatcher.cs
  src/Mvp24Hours.Infrastructure.CronJob/Events/ICronJobEventHandler.cs
  src/Mvp24Hours.Infrastructure.CronJob/Extensions/CronJobAdvancedExtensions.cs
  src/Mvp24Hours.Infrastructure.CronJob/Extensions/ScheduledServiceExtensions.cs
  src/Mvp24Hours.Infrastructure.CronJob/Resiliency/IDistributedCronJobLock.cs
  src/Mvp24Hours.Infrastructure.CronJob/Resiliency/InMemoryDistributedCronJobLock.cs
  src/Mvp24Hours.Infrastructure.CronJob/Scheduling/CronExpressionFormat.cs
  src/Mvp24Hours.Infrastructure.CronJob/Scheduling/CronExpressionParser.cs
  src/Mvp24Hours.Infrastructure.CronJob/Services/AdvancedCronJobService.cs
  src/Mvp24Hours.Infrastructure.CronJob/State/ICronJobStateStore.cs
  src/Mvp24Hours.Infrastructure.CronJob/State/InMemoryCronJobStateStore.cs
Labels: area: infrastructure, area: cronjob

Update CronJob documentation to include links to Advanced Features in English and Portuguese
  docs/en-us/_sidebar.md
  docs/en-us/cronjob-advanced.md
  docs/en-us/cronjob-observability.md
  docs/en-us/cronjob-resilience.md
  docs/en-us/cronjob.md
  docs/pt-br/_sidebar.md
  docs/pt-br/cronjob-advanced.md
  docs/pt-br/cronjob-observability.md
  docs/pt-br/cronjob-resilience.md
  docs/pt-br/cronjob.md
Labels: area: documentation

Enhance CronJob documentation with advanced configuration details
  docs/en-us/cronjob-advanced.md
  docs/pt-br/cronjob-advanced.md
  src/Mvp24Hours.Infrastructure.CronJob/Configuration/CronJobConfigurationExtensions.cs
  src/Mvp24Hours.Infrastructure.CronJob/Configuration/CronJobGlobalOptions.cs
  src/Mvp24Hours.Infrastructure.CronJob/Configuration/CronJobOptions.cs
  src/Mvp24Hours.Infrastructure.CronJob/Configuration/CronJobOptionsValidator.cs
Labels: area: infrastructure, area: cronjob, area: documentation

Enhance CronJob documentation with unit testing details and architecture overview
  docs/en-us/cronjob-advanced.md
  docs/en-us/cronjob.md
  docs/pt-br/cronjob-advanced.md
  docs/pt-br/cronjob.md
  src/Mvp24Hours.Infrastructure.CronJob/Resiliency/CronJobCircuitBreaker.cs
  src/Mvp24Hours.Infrastructure.CronJob/Services/ResilientCronJobService.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/CircuitBreakerTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/CronJobMetricsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/GracefulShutdownTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/HealthCheckTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Mvp24Hours.Infrastructure.CronJob.Test.csproj
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/OverlappingExecutionTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/RetryResilienceTest.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Support/CronJobs/TestResilientCronJob.cs
  src/Tests/Mvp24Hours.Infrastructure.CronJob.Test/Support/Testing/TestCronJobService.cs
Labels: area: infrastructure, area: cronjob, area: tests, area: documentation, dependencies

Update project files to enable nullable reference types and increment version numbers across multiple projects
  src/Mvp24Hours.Application/Mvp24Hours.Application.csproj
  src/Mvp24Hours.Core/Mvp24Hours.Core.csproj
  src/Mvp24Hours.Infrastructure.Caching.Redis/Mvp24Hours.Infrastructure.Caching.Redis.csproj
  src/Mvp24Hours.Infrastructure.Caching/Mvp24Hours.Infrastructure.Caching.csproj
  src/Mvp24Hours.Infrastructure.Cqrs/Mvp24Hours.Infrastructure.Cqrs.csproj
  src/Mvp24Hours.Infrastructure.CronJob/Mvp24Hours.Infrastructure.CronJob.csproj
  src/Mvp24Hours.Infrastructure.Data.EFCore/Mvp24Hours.Infrastructure.Data.EFCore.csproj
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Mvp24Hours.Infrastructure.Data.MongoDb.csproj
  src/Mvp24Hours.Infrastructure.Pipe/Mvp24Hours.Infrastructure.Pipe.csproj
  src/Mvp24Hours.Infrastructure.RabbitMQ/Mvp24Hours.Infrastructure.RabbitMQ.csproj
  src/Mvp24Hours.Infrastructure/Mvp24Hours.Infrastructure.csproj
  src/Mvp24Hours.WebAPI/Mvp24Hours.WebAPI.csproj
  src/Tests/Mvp24Hours.Core.Test/Extensions/ConvertExtensionsTest.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/EnumerableExtensionsTest.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/StringExtensionsTest.cs
  src/Tests/Mvp24Hours.Core.Test/GlobalUsings.cs
  src/Tests/Mvp24Hours.Core.Test/Helpers/JsonHelperTest.cs
  src/Tests/Mvp24Hours.Core.Test/Helpers/ObjectHelperTest.cs
  src/Tests/Mvp24Hours.Core.Test/Helpers/StringHelperTest.cs
Labels: area: core, area: application, area: infrastructure, area: efcore, area: mongodb, area: cache, area: rabbitmq, area: pipeline, area: cronjob, area: webapi, area: tests, dependencies

Refactor code to enable nullable reference types and improve logging
  src/Mvp24Hours.Application/Logic/ApplicationServiceBase.cs
  src/Mvp24Hours.Application/Logic/Async/BulkCommandServiceBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Async/BulkCommandServiceWithDtoBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Async/BulkCommandServiceWithSeparateDtosBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Async/RepositoryPagingServiceAsync.cs
  src/Mvp24Hours.Application/Logic/Async/RepositoryServiceAsync.cs
  src/Mvp24Hours.Application/Logic/Cache/CacheInvalidator.cs
  src/Mvp24Hours.Application/Logic/Cache/CacheableQueryServiceBaseAsync.cs
  src/Mvp24Hours.Application/Logic/Cache/QueryCacheProvider.cs
  src/Mvp24Hours.Application/Logic/QueryServiceBase.cs
  src/Mvp24Hours.Application/Logic/RepositoryPagingService.cs
  src/Mvp24Hours.Application/Logic/RepositoryService.cs
  src/Mvp24Hours.Application/Logic/Resilience/BusinessResultWithStatus.cs
  src/Mvp24Hours.Core/Contract/Logic/Async/IQueryPagingServiceAsync.cs
  src/Mvp24Hours.Core/Contract/Logic/IQueryPagingService.cs
  src/Mvp24Hours.Core/Extensions/ConvertExtensions.cs
  src/Mvp24Hours.Core/Extensions/Logic/BusinessPagingAsyncExtensions.cs
  src/Mvp24Hours.Core/Extensions/Logic/BusinessPagingExtensions.cs
  src/Mvp24Hours.Core/Extensions/StringExtensions.cs
  src/Mvp24Hours.Core/ValueObjects/Logic/MessageResult.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Abstractions/IIntegrationEventPublisher.cs
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/AggregateRoot.cs
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/EventSourcingExtensions.cs
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/EventStoreRepository.cs
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/IAggregate.cs
  src/Mvp24Hours.Infrastructure.Cqrs/EventSourcing/Snapshot.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Extensions/DomainToIntegrationEventExtensions.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Logging/CqrsLoggerMessages.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Projections/IncrementalProjection.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Saga/ISaga.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Saga/SagaBase.cs
  src/Mvp24Hours.Infrastructure.Cqrs/Serialization/CqrsJsonSerializerContext.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/ConvertExtensionsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Support/TestAggregate.cs
Labels: area: core, area: application, area: infrastructure, area: tests

Update project to target .NET 9.0 and upgrade package references
  src/Tests/Mvp24Hours.Application.Test/Mvp24Hours.Application.Test.csproj
  src/Tests/Mvp24Hours.Application.Test/Resilience/BusinessResultWithStatusTest.cs
  src/Tests/Mvp24Hours.Application.Test/Resilience/ExceptionToResultMapperTest.cs
  src/Tests/Mvp24Hours.Application.Test/Resilience/SafeExecutorTest.cs
  src/Tests/Mvp24Hours.Application.Test/Specifications/SpecificationCombinatorsTest.cs
Labels: area: tests, dependencies

Add integration test project for Mvp24Hours.Application
  src/Mvp24Hours.sln
  src/Tests/Mvp24Hours.Application.Integration.Test/Data/TestDbContext.cs
  src/Tests/Mvp24Hours.Application.Integration.Test/Entities/Category.cs
  src/Tests/Mvp24Hours.Application.Integration.Test/Entities/Product.cs
  src/Tests/Mvp24Hours.Application.Integration.Test/Fixtures/SqlServerContainerFixture.cs
  src/Tests/Mvp24Hours.Application.Integration.Test/GlobalUsings.cs
  src/Tests/Mvp24Hours.Application.Integration.Test/Mvp24Hours.Application.Integration.Test.csproj
  src/Tests/Mvp24Hours.Application.Integration.Test/RepositoryPagingServiceIntegrationTest.cs
  src/Tests/Mvp24Hours.Application.Integration.Test/RepositoryServiceIntegrationTest.cs
  src/Tests/Mvp24Hours.Application.Integration.Test/Services/CategoryService.cs
  src/Tests/Mvp24Hours.Application.Integration.Test/Services/ProductPagingService.cs
  src/Tests/Mvp24Hours.Application.Integration.Test/Services/ProductService.cs
  src/Tests/Mvp24Hours.Application.Integration.Test/SpecificationIntegrationTest.cs
  src/Tests/Mvp24Hours.Application.Integration.Test/Specifications/ActiveProductSpecification.cs
  src/Tests/Mvp24Hours.Application.Integration.Test/TransactionIntegrationTest.cs
  src/Tests/Mvp24Hours.Application.Integration.Test/ValidationIntegrationTest.cs
  src/Tests/Mvp24Hours.Application.Integration.Test/Validators/ProductValidator.cs
  src/Tests/Mvp24Hours.Application.Integration.Test/xunit.runner.json
Labels: area: tests, dependencies

Update sidebars to include AI Context documentation in English and Portuguese
  docs/_sidebar.md
  docs/en-us/_sidebar.md
  docs/en-us/ai-context/architecture-templates.md
  docs/en-us/ai-context/database-patterns.md
  docs/en-us/ai-context/decision-matrix.md
  docs/en-us/ai-context/home.md
  docs/en-us/ai-context/messaging-patterns.md
  docs/en-us/ai-context/modernization-patterns.md
  docs/en-us/ai-context/observability-patterns.md
  docs/en-us/ai-context/project-structure.md
  docs/pt-br/_sidebar.md
  docs/pt-br/ai-context/architecture-templates.md
  docs/pt-br/ai-context/database-patterns.md
  docs/pt-br/ai-context/decision-matrix.md
  docs/pt-br/ai-context/home.md
  docs/pt-br/ai-context/messaging-patterns.md
  docs/pt-br/ai-context/modernization-patterns.md
  docs/pt-br/ai-context/observability-patterns.md
  docs/pt-br/ai-context/project-structure.md
  src/Tests/Mvp24Hours.Core.Test/ExtensionMethodsTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Data.MongoDb.Test/Mvp24Hours.Infrastructure.Data.MongoDb.Test.csproj
Labels: area: tests, area: documentation, dependencies

Revise project structure documentation for AI agents
  docs/en-us/ai-context/project-structure.md
  docs/en-us/ai-context/structure-complex-nlayers.md
  docs/en-us/ai-context/structure-minimal-api.md
  docs/en-us/ai-context/structure-simple-nlayers.md
  docs/en-us/ai-context/template-clean-architecture.md
  docs/en-us/ai-context/template-cqrs.md
  docs/en-us/ai-context/template-ddd.md
  docs/en-us/ai-context/template-event-driven.md
  docs/en-us/ai-context/template-hexagonal.md
  docs/en-us/ai-context/template-microservices.md
  docs/pt-br/ai-context/project-structure.md
  docs/pt-br/ai-context/structure-complex-nlayers.md
  docs/pt-br/ai-context/structure-minimal-api.md
  docs/pt-br/ai-context/structure-simple-nlayers.md
Labels: area: documentation

Enhance documentation for advanced architecture templates and project structure
  docs/en-us/_sidebar.md
  docs/en-us/ai-context/api-versioning-patterns.md
  docs/en-us/ai-context/architecture-templates.md
  docs/en-us/ai-context/containerization-patterns.md
  docs/en-us/ai-context/decision-matrix.md
  docs/en-us/ai-context/error-handling-patterns.md
  docs/en-us/ai-context/home.md
  docs/en-us/ai-context/security-patterns.md
  docs/en-us/ai-context/testing-patterns.md
  docs/pt-br/_sidebar.md
  docs/pt-br/ai-context/api-versioning-patterns.md
  docs/pt-br/ai-context/architecture-templates.md
  docs/pt-br/ai-context/containerization-patterns.md
  docs/pt-br/ai-context/decision-matrix.md
  docs/pt-br/ai-context/error-handling-patterns.md
  docs/pt-br/ai-context/home.md
  docs/pt-br/ai-context/security-patterns.md
  docs/pt-br/ai-context/template-clean-architecture.md
  docs/pt-br/ai-context/template-cqrs.md
  docs/pt-br/ai-context/template-ddd.md
  docs/pt-br/ai-context/template-event-driven.md
  docs/pt-br/ai-context/template-hexagonal.md
  docs/pt-br/ai-context/template-microservices.md
  docs/pt-br/ai-context/testing-patterns.md
Labels: area: documentation

Update documentation for major release 9.1.200, highlighting new features and enhancements
  CHANGELOG.md
  README.md
  SECURITY.md
  docs/_sidebar.md
  docs/en-us/getting-started.md
  docs/en-us/home.md
  docs/en-us/release.md
  docs/pt-br/getting-started.md
  docs/pt-br/home.md
  docs/pt-br/release.md
Labels: area: documentation

Update documentation for version 9.1.x, reflecting changes in setup and configuration
  docs/en-us/broker.md
  docs/en-us/database/efcore-advanced.md
  docs/en-us/database/mongodb-advanced.md
  docs/en-us/database/nosql.md
  docs/en-us/database/relational.md
  docs/en-us/database/use-context.md
  docs/en-us/database/use-unitofwork.md
  docs/en-us/documentation.md
  docs/en-us/logging.md
  docs/en-us/mapping.md
  docs/en-us/migration.md
  docs/en-us/pipeline.md
  docs/en-us/specification.md
  docs/en-us/validation.md
  docs/en-us/webapi.md
  docs/pt-br/broker.md
  docs/pt-br/database/efcore-advanced.md
  docs/pt-br/database/mongodb-advanced.md
  docs/pt-br/database/nosql.md
  docs/pt-br/database/relational.md
  docs/pt-br/database/use-context.md
  docs/pt-br/database/use-unitofwork.md
  docs/pt-br/documentation.md
  docs/pt-br/logging.md
  docs/pt-br/mapping.md
  docs/pt-br/migration.md
  docs/pt-br/pipeline.md
  docs/pt-br/specification.md
  docs/pt-br/validation.md
  docs/pt-br/webapi.md
Labels: area: documentation

Update documentation and code for version 9.1.x, reflecting .NET 9 changes
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  CONTRIBUTING.md
  docs/_footer.md
  docs/en-us/broker-advanced.md
  docs/en-us/migration.md
  docs/pt-br/broker-advanced.md
  docs/pt-br/migration.md
  src/Mvp24Hours.Core/Extensions/EnumExtensions.cs
  src/Mvp24Hours.Core/Extensions/EnumerableExtensions.cs
  src/Mvp24Hours.Core/Extensions/ObjectExtensions.cs
  src/Mvp24Hours.Core/Extensions/StringExtensions.cs
  src/Tests/Mvp24Hours.Core.Test/ExtensionMethodsTest.cs
  src/Tests/Mvp24Hours.Core.Test/Extensions/StringExtensionsTest.cs
Labels: area: core, area: tests, area: documentation, area: ci-cd

Update migration documentation to reflect version change from 9.1.200 to 8.2.102 in English and Portuguese
  docs/en-us/migration.md
  docs/pt-br/migration.md
Labels: area: documentation

Add sidebarDisplayLevel to documentation index for improved navigation
  docs/index.html
Labels: area: documentation

Add CSS styles to hide sidebar submenus by default and show on active parent
  docs/index.html
Labels: area: documentation

Replace custom sidebar styles with external sidebar-collapse CSS and add sidebarCollapse script for improved navigation functionality
  docs/index.html
Labels: area: documentation

Update sidebar structure across English, Portuguese, and Chinese documentation to improve navigation consistency
  docs/_sidebar.md
  docs/en-us/_sidebar.md
  docs/pt-br/_sidebar.md
Labels: area: documentation

Add custom CSS styles to enhance sidebar appearance and readability
  docs/index.html
Labels: area: documentation

Refactor sidebar structure in English, Portuguese, and Brazilian Portuguese documentation for improved organization and navigation
  docs/_sidebar.md
  docs/en-us/_sidebar.md
  docs/pt-br/_sidebar.md
Labels: area: documentation

Refactor documentation links and structure for improved navigation and consistency
  docs/_sidebar.md
  docs/en-us/_sidebar.md
  docs/en-us/core/home.md
  docs/en-us/database/nosql.md
  docs/en-us/database/use-repository.md
  docs/en-us/database/use-service.md
  docs/en-us/database/use-unitofwork.md
  docs/en-us/getting-started.md
  docs/en-us/home.md
  docs/index.html
  docs/pt-br/_sidebar.md
  docs/pt-br/core/home.md
  docs/pt-br/database/nosql.md
  docs/pt-br/database/use-repository.md
  docs/pt-br/database/use-service.md
  docs/pt-br/database/use-unitofwork.md
  docs/pt-br/getting-started.md
  docs/pt-br/home.md
Labels: area: documentation

Enhance sidebar structure and content organization for improved navigation
  docs/_sidebar.md
Labels: area: documentation

Refactor documentation links for improved accessibility and consistency
  docs/en-us/ai-context/architecture-templates.md
  docs/en-us/ai-context/database-patterns.md
  docs/en-us/ai-context/home.md
  docs/en-us/ai-context/messaging-patterns.md
  docs/en-us/ai-context/modernization-patterns.md
  docs/en-us/ai-context/observability-patterns.md
  docs/en-us/core/home.md
  docs/en-us/cqrs/event-sourcing/home.md
  docs/en-us/cqrs/getting-started.md
  docs/en-us/cqrs/home.md
  docs/en-us/cqrs/saga/home.md
  docs/en-us/database/nosql.md
  docs/en-us/database/use-context.md
  docs/en-us/database/use-repository.md
  docs/en-us/database/use-service.md
  docs/en-us/database/use-unitofwork.md
  docs/pt-br/ai-context/architecture-templates.md
  docs/pt-br/ai-context/database-patterns.md
  docs/pt-br/ai-context/home.md
  docs/pt-br/ai-context/messaging-patterns.md
  docs/pt-br/ai-context/modernization-patterns.md
  docs/pt-br/ai-context/observability-patterns.md
  docs/pt-br/core/home.md
  docs/pt-br/cqrs/event-sourcing/home.md
  docs/pt-br/cqrs/getting-started.md
  docs/pt-br/cqrs/home.md
  docs/pt-br/cqrs/saga/home.md
  docs/pt-br/database/nosql.md
  docs/pt-br/database/use-context.md
  docs/pt-br/database/use-repository.md
  docs/pt-br/database/use-service.md
  docs/pt-br/database/use-unitofwork.md
Labels: area: documentation

Update sidebar links in English and Portuguese documentation to use absolute paths for improved navigation
  docs/en-us/_sidebar.md
  docs/pt-br/_sidebar.md
Labels: area: documentation

Add new advanced topics to sidebar in English, Portuguese, and Brazilian Portuguese documentation
  docs/_sidebar.md
  docs/en-us/_sidebar.md
  docs/pt-br/_sidebar.md
Labels: area: documentation

Add quick setup instructions for Cursor Rules Files in English and Portuguese documentation
  docs/en-us/ai-context/home.md
  docs/llms_compact_en.txt
  docs/llms_compact_pt.txt
  docs/llms_complete_en.txt
  docs/llms_complete_pt.txt
  docs/pt-br/ai-context/home.md
Labels: area: documentation

Update documentation links in AI context for improved accessibility
  docs/en-us/ai-context/home.md
  docs/pt-br/ai-context/home.md
Labels: area: documentation

Update documentation links in AI context to use absolute paths for improved accessibility
  docs/en-us/ai-context/home.md
  docs/pt-br/ai-context/home.md
Labels: area: documentation

Refactor documentation links in AI context to use absolute paths for improved navigation and consistency
  docs/mvp24hours.mdc
Labels: area: documentation

Update Mvp24Hours SDK documentation to enforce consultation before .NET implementation
  docs/mvp24hours.mdc
Labels: area: documentation

Update package references in documentation to version 9
  docs/en-us/ai-context/home.md
  docs/en-us/ai-context/messaging-patterns.md
  docs/en-us/ai-context/structure-complex-nlayers.md
  docs/en-us/ai-context/structure-minimal-api.md
  docs/en-us/ai-context/structure-simple-nlayers.md
  docs/en-us/ai-context/template-clean-architecture.md
  docs/en-us/ai-context/template-cqrs.md
  docs/en-us/ai-context/template-event-driven.md
  docs/en-us/ai-context/template-hexagonal.md
  docs/en-us/ai-context/template-microservices.md
  docs/llms_complete_en.txt
  docs/llms_complete_pt.txt
  docs/pt-br/ai-context/home.md
  docs/pt-br/ai-context/messaging-patterns.md
  docs/pt-br/ai-context/structure-complex-nlayers.md
  docs/pt-br/ai-context/structure-minimal-api.md
  docs/pt-br/ai-context/structure-simple-nlayers.md
Labels: area: documentation

Update changelog and documentation for version 9.1.210
  .gitignore
  CHANGELOG.md
  docs/_footer.md
  docs/en-us/database/mongodb-advanced.md
  docs/en-us/database/nosql.md
  docs/en-us/release.md
  docs/pt-br/database/mongodb-advanced.md
  docs/pt-br/database/nosql.md
  docs/pt-br/release.md
  src/Mvp24Hours.Application/Mvp24Hours.Application.csproj
  src/Mvp24Hours.Core/Mvp24Hours.Core.csproj
  src/Mvp24Hours.Infrastructure.Caching.Redis/Mvp24Hours.Infrastructure.Caching.Redis.csproj
  src/Mvp24Hours.Infrastructure.Caching/Mvp24Hours.Infrastructure.Caching.csproj
  src/Mvp24Hours.Infrastructure.Cqrs/Mvp24Hours.Infrastructure.Cqrs.csproj
  src/Mvp24Hours.Infrastructure.CronJob/Mvp24Hours.Infrastructure.CronJob.csproj
  src/Mvp24Hours.Infrastructure.Data.EFCore/Mvp24Hours.Infrastructure.Data.EFCore.csproj
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Mvp24Hours.Infrastructure.Data.MongoDb.csproj
  src/Mvp24Hours.Infrastructure.Http/DelegatingHandlers/PropagationAuthorizationDelegatingHandler.cs
  src/Mvp24Hours.Infrastructure.Http/DelegatingHandlers/PropagationCorrelationIdDelegatingHandler.cs
  src/Mvp24Hours.Infrastructure.Http/DelegatingHandlers/PropagationHeaderDelegatingHandler.cs
  src/Mvp24Hours.Infrastructure.Http/TypedHttpClient.cs
  src/Mvp24Hours.Infrastructure.Pipe/Mvp24Hours.Infrastructure.Pipe.csproj
  src/Mvp24Hours.Infrastructure.RabbitMQ/Mvp24Hours.Infrastructure.RabbitMQ.csproj
  src/Mvp24Hours.Infrastructure/Mvp24Hours.Infrastructure.csproj
  src/Mvp24Hours.WebAPI/Extensions/NativeOpenApiApplicationBuilderExtensions.cs
  src/Mvp24Hours.WebAPI/Mvp24Hours.WebAPI.csproj
Labels: area: core, area: application, area: infrastructure, area: efcore, area: mongodb, area: cache, area: rabbitmq, area: pipeline, area: cronjob, area: webapi, area: documentation, dependencies

[UPDATE] Version
  docs/en-us/home.md
  docs/pt-br/home.md
Labels: area: documentation

Delete CNAME
  docs/CNAME
Labels: area: documentation

Remove nullable analysis files for EF Core, MongoDB, and WebAPI
  efcore-nullable-4.4.txt
  mongo-nullable-4.4.txt
  src/Mvp24Hours.WebAPI/Binders/EntityIdModelBinder.cs
  src/Mvp24Hours.WebAPI/Binders/Mvp24HoursModelBinderProvider.cs
  src/Mvp24Hours.WebAPI/OpenApi/OpenApiDocumentTransformers.cs
  webapi-nullable-4.4.txt
Labels: area: webapi

Enhance nullable type support and update package references
  src/Directory.Packages.props
  src/Mvp24Hours.Core/Converters/EntityIdNewtonsoftConverters.cs
  src/Mvp24Hours.Core/Domain/Enumerations/Enumeration.cs
  src/Mvp24Hours.Core/Serialization/Json/AnonymousTypeContractResolver.cs
  src/Mvp24Hours.Infrastructure.Caching/Resilience/ResilientCacheProvider.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Interceptors/CommandLoggingInterceptor.cs
  src/Mvp24Hours.Infrastructure/DistributedLocking/Providers/SqlServerDistributedLockProvider.cs
  src/Mvp24Hours.Infrastructure/Http/Helpers/CertificateHelper.cs
  src/Mvp24Hours.Infrastructure/Mvp24Hours.Infrastructure.csproj
  src/Mvp24Hours.Infrastructure/Resilience/Implementations/CircuitBreaker.cs
  src/Mvp24Hours.Infrastructure/Resilience/Native/NativeResilienceOptions.cs
  src/Mvp24Hours.Infrastructure/Resilience/Native/NativeResiliencePipeline.cs
Labels: area: core, area: infrastructure, area: efcore, area: cache, dependencies

Refactor SMTP and HTTP client certificate validation handling
  src/Mvp24Hours.Infrastructure/Email/Options/SmtpEmailOptions.cs
  src/Mvp24Hours.Infrastructure/Email/Providers/SmtpEmailProvider.cs
  src/Mvp24Hours.Infrastructure/Extensions/HttpClientExtensions.cs
  src/Mvp24Hours.Infrastructure/Helpers/WebRequestHelper.cs
Labels: area: infrastructure

Refactor AWS and database container configurations for improved consistency
  src/Mvp24Hours.Infrastructure.Data.MongoDb/Security/FieldEncryption.cs
  src/Mvp24Hours.Infrastructure/Security/Providers/AwsSecretsManagerProvider.cs
  src/Tests/Mvp24Hours.Application.Integration.Test/Fixtures/SqlServerContainerFixture.cs
  src/Tests/Mvp24Hours.Application.MongoDb.Test/CommandServiceTest.cs
  src/Tests/Mvp24Hours.Application.MongoDb.Test/QueryServiceTest.cs
  src/Tests/Mvp24Hours.Application.RabbitMQ.Test/Test1RabbitMQ.cs
  src/Tests/Mvp24Hours.Application.Redis.Test/Test1CacheTest.cs
  src/Tests/Mvp24Hours.Application.Redis.Test/Test2CacheAsyncTest.cs
  src/Tests/Mvp24Hours.Application.Redis.Test/Test3CacheRepositoryTest.cs
  src/Tests/Mvp24Hours.Application.Redis.Test/Test4CacheRepositoryAsyncTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/DomainEventTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/ProjectionTest.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Support/TestAggregate.cs
  src/Tests/Mvp24Hours.Infrastructure.Cqrs.Test/Support/TestDomainEvent.cs
Labels: area: infrastructure, area: mongodb, area: tests

Refactor exception handling in bulk and database operations
  src/Mvp24Hours.Infrastructure.Data.EFCore/Extensions/BulkOperationsExtensions.cs
  src/Mvp24Hours.Infrastructure.Data.EFCore/Extensions/DatabaseExtensions.cs
Labels: area: infrastructure, area: efcore
